@import "smart-grid.scss";
@import "fa/font-awesome";

@include reset();

html,body{

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  //height:100%;
  //min-height:100vh;
  //overflow:hidden;
  z-index: 0;
}
#grad1 {
  //height: 200px;

  background: url('../img/scale_web.png');
  background-size: cover;
  border: 3px solid #fff;
}
#hren{
  height: 100%;
  position: relative;
  left: -22px;
  top: -39px;
  margin-left: -100%;
}
.container{
  @include wrapper();
  z-index: 1;
  position: relative;
  min-height: 100vh;
}
.header{
  width: 100%;
  background: rgba(120, 205, 80, 0.95);
  height: 70px;
  @include sm(height, 55px);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 5;
  &Container{
    @include wrapper();
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    .logo_head{
      height: 70%;
      display: block;
      margin-left: 0;
      @include sm(display, none);
      img{
        height: 100%;
      }
      &.m{
        width: 49px;
        height: 49px;
        display: none;
        @include sm(display, block);
      }
    }
    a{
      color: #fff;
      text-decoration: none;
      margin-left: 40px;
      @include sm(margin-left, 10px);
      @include sm(font-size, 15px);
      font-size: 16px;
    }
    .user_Avatar, .user_Avatar1, .lang{
      height: 50px;
      width: 50px;
      border-radius: 200px;
      border: 1px solid #fff;
      box-sizing: border-box;
      margin-left: 20px;
      //@include sm(margin, 5px);
      @include sm(height, 45px);
      @include sm(width, 45px);
      position: relative;
    }
    .user_Avatar{
      border: none;
      .block_user_popup{
        opacity: 0;
        box-sizing: border-box;
        position: absolute;
        top: 120%;
        right: 50%;
        z-index: -10;
        height: 0;
        transition: all 0.5s linear;
        overflow: hidden;
        &.on{
          opacity: 1;
          height: unset;
          z-index: 2;
        }
      }
      .margin_op{
        padding: 15px;
        background: rgba(255,255,255,0.5);
        border-radius: 15px;
      }
      ul{
        background: rgba(255,255,255,1);
        padding: 15px;
        border-radius: 15px;
        li{
          background:#fff;
          padding: 5px;
          color: #000000;
          font-size: 16px;
          width:150px;
          text-align: center;
          border-bottom: 1px solid rgba(124,206, 84, 0.5);
          box-sizing: border-box;

          &:hover{
            border-bottom: 2px solid rgba(124,206, 84, 1);
          }
        }
      }
    }
    .user_Avatar1{
      margin-left: 0;
      border: none;
      &:hover{
        box-shadow: 0 0 10px #fff;
      }

    }
    .lang{

      height: 55%;
      width: 38px;
      @include sm(width, 30px);
      @include sm(height, 30px);
      &:hover{
        ul{
          //display: block;
          height: 150px;
        }
      }
      img{
        height: 100%;
        border-radius: 200px;
      }
      ul{
        //display: none;
        height: 0;
        overflow: hidden;
        width: 100%;
        transition: all 0.5s linear;
        li{
          width: 100%;
          margin: 13px 0;
          border: 1px solid #fff;
          box-sizing: border-box;
          border-radius: 100px;
          height: 37px;
          @include sm(height, 30px);
          img{
            cursor: pointer;
            //border: 2px solid #fff;
            //box-sizing: border-box;
            width: 100%;
          }
        }
      }
    }
    h3{
      margin-left: auto;
      font-size: 24px;
      @include sm(font-size, 18px)
    }
  }
}
.row{
  @include row-flex();
  justify-content: center;
}
.roww{
  display: flex;
  margin-left: -2.5px;
  margin-right: -2.5px;
  justify-content: center;
  width: 100%;
  @include sm(overflow-x, scroll);
  @include sm(justify-content, flex-start);
  margin-top: 20px;
  @include sm(margin-top, 10px);
}
.rowww{
  margin-top: 70px;
}
.firstPageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .row{
    @include sm(margin, 10px 0)
  }
}
.logo{
  /*@include size(8);
  @include size-sm(13);*/
  @include sm(margin-top, 0px);
  //margin-top: 225px;

    //max-height: 27vw;
    @include sm(max-height, unset);
     @include md(max-height, unset);
    text-align: center;
    img{
      height: 345px;
      width: 230px;
    /*@include sm(height, unset);
    @include md(height, unset);*/
    }
}
.loading{
  background: url("../img/loadIcon.png") no-repeat !important;
  background-size: contain !important;
  animation: rotate 1s infinite linear;
  border: none !important;
  i{
    display: none;
  }
}
.error{
  background: red !important;
  border: 3px solid red !important;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
.langs {
  @include size(6);
  @include size-sm(14);
  @include row-flex();
  justify-content: space-around;
  align-items: center;
  height: 170px;
  @include sm(height, 100px);
  .lang{
    width: 45px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    img{
      border-radius: 25px;
    }
    border-radius: 25px;
    &.active{
      font-size: 24px;
      img{
        border:3px solid #00aeef;

      }
    }
  }
}
.firstPage{
  @include size(10);
  @include size-sm(24);
  @include size-md(12);
  @include sm(margin-bottom, 20px);
  display: flex;
  justify-content: space-around;
  button{
    //@include size(11);
    //@include size-sm(14);
    padding-right: 30px;
    padding-left: 30px;
    height: 45px;
    border-radius: 25px;
    background: #ff8304;
    //padding: 0;
    border: none;
    color: rgba(0,0,0,0.5);
    font-size: 18px;
    box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
    &:focus, &:hover{
      outline: none;
      color: #fff;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }
    &:active{
      outline: none;
      color: #fff;
      background: #ff9021;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }
  }
}


.login{
  @include size(10);
  @include size-sm(21);
  background: rgba(250,247,247, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 45px 0 35px 0;
  box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.5);
  h4{
    color: #555555;
    font-size: 18px;
    margin-bottom: 30px;
  }
  h3{
    color: #827d7e;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
  }
  .btn_social, .g-signin-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include size(18);
    @include size-sm(18);
    height: 35px;
    color: #fff;
    border-radius: 3px;
    border: none;
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 1px 6px;
    cursor: pointer;
    img{
      height: 27px;
      border-right: 1px solid rgba(0,0,0,0.1);
      margin-right: 10px;
    }
    &.facebook{
      background: #3b5998;
    }
    &.google{
      background: #dc4a38;
    }
  }
  .g-signin-button{
    background: #dc4a38;
  }
  h5{
    font-size: 24px;
    color: #c2c2c2;
    margin-bottom: 10px;
  }
  label{
    @include size(15);
    @include size-md(17);
    @include size-sm(18);
    color: #000;
    position: relative;
    &.pointer, &.pointer2{
      cursor: pointer;
      color: #555555;
      font-size: 16px;
      @include sm(text-align, center);
      &:hover .checkbox{
        border: 3px solid #d9d9d9;
      }
      span{
        margin: 30px 0;
        @include sm(margin, 0);
      }
    }
    &.pointer2 span{
      margin-top: 10px;
    }
    &.radio{
      margin-top: 10px;
      span{
        margin:  0;
      }
    }
    &.bottom{
      margin-top: 35px;
    }
    .razmer{
      font-size: 16px;
      color: #c2c2c2;
      margin: 10px;
      &:nth-child(3)~.check{
        left: calc(70% + 45px);
      }
      &:nth-child(3)+.check{
        left: calc(29.16667% + 40px);
      }
    }
    .check{
      display: inline-block;
      width: 25px;
      height: 25px;
      box-sizing: border-box;
      text-align: center;
      font-size: 14px;
      color: #fff;
      border-radius: 13px;
      border: 3px solid #70cf47;
      background: #70cf47;
      position: absolute;
      top: 30px;
      left: calc(100% + 20px);
      @include sm(left, calc(100% + 5px))
    }
    input[type="text"], input[type="date"], input[type="email"],
    input[type="password"], input[type="tel"], input[type="number"],
    select, option{
      width: 100%;
      height: 35px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 0 15px;
      background: #fffffe;
      border: none;
      border-top: 1px solid #e5e6e5;
      border-radius: 4px;
      color: #555555;
      margin-bottom: 20px;
      margin-top: 7px;
      &:focus, &:hover{
        outline: none;
      }
      &.number{
        @include size(7);
      }
    }
    select{
      /*for WebKit*/
      -webkit-appearance: none;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
      background-image: url('../img/Arrow.png');
      background-position-x: 94%;
      background-position-y: center;
      background-repeat: no-repeat;
      &::-ms-expand {
        display: none;
      }
    }
    input[type="number"]{
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
      }
    }
    input[type="radio"], input[type="checkbox"]{
      display: none;
      &+.checkbox{
        border: 3px solid #d9d9d9;
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: transparent;
        border-radius: 13px;
        margin-right: 15px;
        margin-top: 10px;
      }
      &:checked+.checkbox{
        border: 3px solid #70cf47;
        text-align: center;
        font-size: 14px;
        color: #70cf47;
      }
    }
    .eye{
      width: 20px;
      height: 11px;
      position: absolute;
      top: 37px;
      right: 10px;
      background: url("../img/eye_grey.png") no-repeat;
      background-size: contain;
      &.active{
        background: url("../img/eye_g.png") no-repeat;
        background-size: contain;
      }
    }
    p{
      color: #c2c2c2;
      font-size: 14px;
      margin-left: -7px;
      text-align: left;
      span{
        color: #6fcf46;
      }
    }
  }
  .firstPage{
    @include size(24);

  }
}
.formBlock{
  margin: 10px;
  @include sm(padding, 15px 0 15px 0);
  @include sm(min-width, calc(83.33333% - 5px));
  .Metrics{
    display: flex;
    @include size(15);

    color: #555555;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin-bottom: 33px;
    @include sm(margin-bottom, 10px);
    //margin-top: 25px;
    @include sm(margin-top, 0);
    .btn{
      width: 50%;
      border: 1px solid #a5a2a2;
      box-sizing: border-box;
      padding: 13px 0;
      background: #f3efef;
      @include sm(padding, 9px 0);
      &.active{
        background: #60b23d;
        color: #fff;
        border: 1px solid #599939;
      }
      &:first-child{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

    }
  }
  label {
    input[type="text"], input[type="date"], input[type="email"],
    input[type="password"], input[type="tel"], input[type="number"],
    select, option {

      padding: 0 15px;
      @include sm(padding, 3px 15px);
      @include sm(margin-bottom, 5px);
      @include sm(height,unset);
      margin-top: 7px;
      &:focus, &:hover {
        outline: none;
      }
      &.number {
        @include size(7);
      }
    }
    &.pointer{
      @include sm(text-align, left);
    }
  }
}
/*.firstPage{
  @include size(24);
  @include sm(display, none);
  &.sm{
    display: none;
    @include sm(display, block);
    @include sm(margin, 30px auto);
    @include sm(text-align, center);
  }
}*/
.fifthPage{
  @include size(8);
  @include size-sm(24);
  margin-top: 20px;
  margin-bottom: 15px;
  @include sm( margin, 0px 0)
}
.license{
  @include size(24);
  @include size-md(21);
  @include size-sm(22);
  background: rgba(250,247,247, 0.95);
  min-height: 60vh;
  padding: 40px 0 30px 0;
  @include sm(padding, 15px 0 0px 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #333333;
  border-radius: 15px;
  .ob{
    background: rgba(255,255,255, 0.97);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 0px 20px 15px;
    position: relative;
    @include sm(padding, 0 0 0 15px);
    @include size(22);
  }
  .text{
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 10px;
    h1{
      font-size: 24px;
      @include sm(font-size, 30px);
      color: #000;
    }
    p{
      margin: 20px 0;
      @include sm(font-size, 14px);
      @include sm(margin, 10px 0);
    }
    &::-webkit-scrollbar {
      width: 5px;
      background: rgba(109,207,77,0.5);
      border-radius: 3px;
      height: 10%;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(109,207,77);
      border-radius: 3px;
      width: 5px;
      height: 10%;
    }
    scrollbar-base-color: rgba(109,207,77,1);
    scrollbar-3dlight-color:rgba(109,207,77,1);
    scrollbar-highlight-color: rgba(109,207,77,1);
    scrollbar-track-color: rgba(109,207,77,0.5);
    scrollbar-arrow-color: rgba(109,207,77,0.5);
    scrollbar-shadow-color: rgba(109,207,77,1);
  }
  .checkb{
    display: flex;
    justify-content: space-between;
    @include size(20);
    @include size-sm(21);
    font-size: 16px;
    align-items: center;
    @include sm(font-size, 15px);
    .ck{
      display:flex;
      flex-direction: column;
      .pointer{
        margin: 10px 0;
        @include sm(margin, 5px 0);
      }
    }
    .pointer{
      @include sm(margin, 5px);
      .checkbox {
      border: 3px solid #d9d9d9;
    }
    }
    input[type="checkbox"]{
      display: none;
      &+.checkbox{
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: transparent;
        border-radius: 13px;
        border: 3px solid #d9d9d9;
        margin-right: 15px;
        @include xs(float, left);
        @include xs(margin, 9px 13px 11px 0);
      }
      &:checked+.checkbox{
        border: 3px solid rgb(109,207,77);
        text-align: center;
        font-size: 14px;
        color: rgb(109,207,77);
      }
    }
  }
  .licensePage{
    @include size(8);
    @include md(display, none);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    button{
      width: 80%;
      padding-right: 30px;
      padding-left: 30px;
      height: 45px;
      border-radius: 25px;
      background: #ff8304;
      border: none;
      color: rgba(0,0,0,0.5);
      font-size: 18px;
      box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
      margin:3%;
      &:focus, &:hover, &.act{
        outline: none;
        color: #fff;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
      &:active{
        outline: none;
        color: #fff;
        background: #ff9021;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
      &.nonact, &.nonact:focus, &.nonact:hover, &.nonact:active{
        color: rgba(0,0,0,0.5);
        background: #ff8304;
        box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
      }
    }
  }

}
.licensePage {
  @include size(24);
  display: flex;
  justify-content: space-evenly;
  &.sm {
    display: none;
    @include md(display, flex);
    @include md(margin, 15px auto);
    @include md(text-align, center);
    @include md(justify-content, space-around);
  }
  button {
    height: 45px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 25px;
    background: #ff8304;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.3);
    &:focus, &:hover, &.act{
      outline: none;
      color: #fff;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }
    &:active {
      outline: none;
      color: #fff;
      background: #ff9021;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }
    &.nonact, &.nonact:focus, &.nonact:hover, &.nonact:active{
      color: rgba(0,0,0,0.5);
      background: #ff8304;
      box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
    }

  }
}
.avatar{
  //@include size(4);
 /* width: 85%;
  height: 85%;
  margin: auto;*/
  width: 10vw;
  height: 10vw;
  @include md(width, 20vw);
  @include md(height, 20vw);
  @include sm(width, 25vw);
  @include sm(height, 25vw);
  margin-top: 10px;
  @include sm(margin-top, 0px);
  //margin-bottom: 35px;
  margin-bottom: 10px;
  @include sm(margin-bottom, 0px);

  border-radius: 500px;
  z-index: 10;
  box-sizing: border-box;
  .img {
    border-radius: 500px;
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
  }
}
.left, .right{
  display: flex;
  align-items: center;
  @include size(6);
  justify-content: center;
  .theme{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.851);
    //width: 225px;
    width: 94%;
    //height: 275px;
    color: #555555;
    font-size: 24px;
    text-align: center;
    .img{
      border-radius: 15px;
      width: 90%;
      height: 24vmin;
      margin: 0 auto 10px;
    }
  }
  .right_indicator{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .indicators{
    @include col();
    @include size(10);
    .title_indicator{
      text-align: center;
      width: 150%;
      left: -25%;
      position: relative;
    }
  }
}
.center{
  flex-wrap: wrap;
  @include size(12);
  @include col();
  @include row-flex();
  .indicators{
    @include size(8);
    text-align: center;
    @include col();
    margin-top: 30px;

    &:nth-child(2n){
      @include offset-left(8);
    }
    &:nth-child(1), &:nth-child(2){
      margin-top: -40px;
      padding: 0 12px;
      .title_indicator{
        margin-bottom: 17px;
      }
    }
    &:nth-child(3){
      margin-bottom: 55px;
    }
    &:nth-child(4){
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 55px;
      .title_indicatorCVD{
        left: 0;
        width: 100%;
      }
    }
    .title_indicator{
      margin-bottom: 5px;
      position: relative;
      left: -20%;
      width: 140%;
      .age{
        font-size: 12px;
        @include md(font-size, 10px);
        line-height: 20px;
      }
      .cvd{
        font-size: 14px;
        line-height: 24px;
        @include md(font-size, 11px);
        @include md(line-height, 21px);
        @include sm(width, 80%);
        @include sm(margin, 0 auto);
      }
    }
    .info_indicator_top{
      .cvd{
        font-size: 14px;
        line-height: 24px;
      }
    }
    .info_indicator{
      margin-top: 15px;
      margin-left: 10px;
      margin-right: -100px;
      text-align: left
    }
    .indicator{
      //@include size(16);
      .mini_indicator{
        @include size(12);
        margin: 0 5px -4px;
      }
      .row_indicator{
        display: flex;
        justify-content: space-around;
        margin-bottom: 6px;
      }
    }
  }
}
.bottom{
  @include size(12);
  .indicators{
    margin: 20px 0;
    //@include md(margin,0 0 20px);
    .title_indicator{
      margin-left: 35px;
    }
    .indicator{
      text-align: center;
    }
  }
}
.button_share{
  text-align: center;
  .share{
    //@include size(11);
    //@include size-sm(14);
    //height: 45px;
    border-radius: 25px;
    background: #7fcf77;
    padding: 8px 40px;
    border: none;
    color: rgba(0,0,0,0.5);
    font-size: 18px;
    box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 1%;
    &:focus, &:hover{
      outline: none;
      color: #fff;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }
    &:active{
      outline: none;
      color: #fff;
      background: #95cf8e;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }
  }
}
.progress_bar1{
 // background: url("../img/indicator_6.png") no-repeat center center;
  //background-size: 100%;
  width: 100%;
  //height: 40px;
  text-align: left;
  margin: 0 auto;
  img{
    display: block;
  }
  .cursor{
    position: absolute;
    left: 0;
    margin-left: -7px;
  }
  .percent{
    position: absolute;
    left: 0;
    top: -17px;
    font-size: 10px;
    margin-left: 10px;
  }
  .shkala-1,.shkala-2,.shkala-3{
    position: relative;
    bottom: -10px;
    font-size: 10px;
  }
  .shkala-1{
    left: 15%;
  }
  .shkala-2{
    left: 30%;
  }
  .shkala-3{
    left: 40%;
  }
}
.progress_bar2{
  width: 100%;
  //height: 130px;
  img{
    display: block;
  }
  .cursor{
    background: url(../img/cursor_2.png) no-repeat center center;
    position: absolute;
    background-size: cover;
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    transform: rotate(0deg);
  }
  .text_indicator{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p{
    position: relative;
    font-size: 11px;
    @include md(font-size, 9px);
    &.big{
      font-size: 24px;
      @include md(font-size, 18px);
      line-height: 20px;
    }
  }
}
.progress_bar3, .progress_bar4{
  width: 100%;
  img{
    display: block;
  }
  .cursor{
    background: url(../img/cursor_3.png) no-repeat center center;
    position: absolute;
    background-size: cover;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    transform: rotate(0deg);
  }
  .text_indicator{
    position: absolute;
    top: 0;
    font-size: 14px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .big{
      font-size: 24px;
      line-height: 24px;
    }
  }
}
.progress_bar4{
  /*background: url("../img/indicator_2.png") no-repeat center center;
  background-size: cover;*/
}
.progress_bar5, .progress_bar6{
  width: 100%;
  //height: 207px;
  //background: url("../img/indicator_5.png") no-repeat center center;
  background-size: cover;
  img{
    display: block;
  }
  .opacity{
    background: url("../img/opasity.png") no-repeat top center;
    width: 100%;
    height: 50%;
    background-size: 100%;
    position: absolute;
    top: 0;
  }
  .cursor{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 100%;
    align-items: flex-start;
    line-height: 12px;
    img{
      height: 10px;
      width: auto;
      margin-top: 2px;
    }
    .big{
      font-size: 16px;
    }
    div{
      margin-left: 3px;
      font-size: 13px;
    }
  }
}
.progress_bar6{
  background: url("../img/indicator_4.png") no-repeat center center;
  background-size: cover;
  .opacity{
    background: url("../img/opasity2.png") no-repeat top center;
    background-size: 100%;
  }
  .sometext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    top: 0;
    align-items: center;
    position: absolute;
    font-size: 10px;
    text-align: center;
    .txt{
      margin: 5px 0;
      line-height: 15px;
    }
    .big{
      font-size: 14px;
    }
  }
}
.themesPageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  .content{
    width: 100%;
    background: rgba(250, 247, 247, 0.8);
    @include size-md(22);
    @include sm(background, none);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 25px calc(100% /24);
    @include sm(padding, calc(80vw /24) );
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    @include sm(justify-content, flex-start);
    @include sm( border-radius, 15px);
    overflow-x: auto;
    &.col{
      flex-direction: column;
      align-items: center;
      background: rgba(250, 247, 247, 0.8);
      @include size-md(22);
      @include size-sm(22);
      //@include sm(height, 60vh);
      //@include sm(margin-top,  40%);
      @include sm(margin-bottom,  0%);
      min-height: 220px;



    }
  }
  .mar{
    padding: 15px 0;
    @include size(13);
    @include sm(min-width, calc(90% - 5px));
    background: rgba(250, 247, 247, 0.8);
    border-radius: 15px;
    max-height: 430px;
    @include sm(max-height, 67vh);
    //@include sm(margin-top, 5vh);
    box-sizing: border-box;
  }
  .progressBarTheme{
    @include size(18);
    @include size-sm(20);
    //@include sm(display, none);
    height: 22px;
    //background: url("../img/topScale.png") no-repeat;
    background-size: 100%;
    border-radius: 12px;
    position: relative;
    text-align: right;
    .white{
      float: right;
      background: #fff;
      width: 100%;
      border-radius: 12px;
      height: 100%;
      position: relative;
      margin-left: -30px;
      transition: all 2s ease;
      margin-right: -2px;
    }
    .cursor{
      height: 60px;
      position: relative;
      top:-19px;
      left: -30px;
      margin-right: -30px;
      z-index: 1;
    }
  }
  .questionBlock{
    @include size(24);
    //@include sm(height, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.type1, &.type3{
      .row {
        justify-content: center;
        @include flex-direction-sm(column);
        @include align-items-sm(center);
        width: 100%;
        margin-bottom: 40px;
        margin-top: 0;
        @include sm(margin-bottom, 0);
      }
    }
    &.type2 .row, &.type4 .row{
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      @include sm(margin-bottom, 0);
      @include sm(margin-top, 0);
      margin-top: 35px;
      @include flex-direction-sm(column);
      .imgQ{
        @include size(15);
        @include size-sm(24);
        padding-top: 10px;
        img{
          border-radius: 15px;
        }
      }
      .right{
        @include size(8);
        @include size-sm(24);
        flex-direction: column;
        align-items: flex-start;
        @include align-items-sm(center);
        h1{
          @include size(19);
          @include size-sm(20);
          margin-top: 0;
          text-align: left;
          @include sm(text-align, center);
          margin-bottom: 20px;
          @include sm(margin-bottom, 5px);
        }
        label{
          @include size(21);
          margin: 0;
        }
      }
    }
    &.type3{
      .row{
        justify-content: space-between;
        margin-bottom: 5vh;
        @include flex-direction-sm(row);
      }
      h1{
        @include size(24);
        font-size: 40px;
        @include sm(font-size, 36px);
      }
      .imgAnswer{
        border-radius: 15px;
        @include size(6);
        @include size-sm(12);
        height: 220px;
        @include sm(height, 40vw);
        box-sizing: border-box;
        &.check{
          border: 3px solid #65d53a;
        }
      }
    }
    &.type4 .row{
      @include sm(display, flex);
      @include sm(flex-direction, row);
      @include sm(flex-wrap, nowrap);
      @include sm(overflow, scroll);
      @include sm(justify-content, flex-start);
      @include sm(width, 100%);
      .imgQ{
        @include sm(min-width, 100%);
        @include sm(margin, 0 3px);
        font-size: 36px;
        background: rgba(250, 247, 247, 0.8);
        border-radius: 15px;
        box-sizing: border-box;
        padding: 20px;
        h1{
          @include size(24);
          margin-top: 0;
          margin-bottom: 10px;
        }
      }
      .right{
        @include sm(min-width, 100%);
        @include sm(margin, 0 3px);
        background: rgba(250, 247, 247, 0.8);
        border-radius: 15px;
        box-sizing: border-box;
        padding: 20px;
        @include size(9);
        @include size-sm(24);
        h1{
          font-size: 24px;
          margin-bottom: 45px;
          @include sm(margin-bottom, 5px);
          margin-top: 5px;
        }
        .answer{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: space-between;
          @include size(24);
          max-height: 330px;
          overflow: scroll;
          &::-webkit-scrollbar {
            width: 5px;
            background: rgba(109,207,77,0.5);
            border-radius: 3px;
            height: 90%;
          }

          &::-webkit-scrollbar-thumb {
            background: rgb(109,207,77);
            border-radius: 3px;
            width: 5px;
            height: 90%;
          }
          scrollbar-base-color: rgba(109,207,77,1);
          scrollbar-3dlight-color:rgba(109,207,77,1);
          scrollbar-highlight-color: rgba(109,207,77,1);
          scrollbar-track-color: rgba(109,207,77,0.5);
          scrollbar-arrow-color: rgba(109,207,77,0.5);
          scrollbar-shadow-color: rgba(109,207,77,1);
          .imgAnswer{
            @include size(12);
            height: 140px;
            margin: 7px 0;
            border-radius: 15px;
            box-sizing: border-box;
            &.check{
              border: 3px solid #6dcf4d;
            }
          }
        }
      }
    }
    h1{
      font-size: 36px;
      @include sm(font-size, 27px);
      text-align: center;
      color: #555555;
      @include size(16);
      @include size-md(16);
      @include size-sm(24);
      margin-top: 40px;
      @include sm(margin-top, 0);
      @include sm(margin-bottom, 7%);
      margin-bottom: 40px;
    }
    .select{
      font-size: 18px;
      @include sm(font-size, 19px);
      color: #827d7e;
      //color:black;
      border-radius: 15px;
      border: 2px solid #e1e1e1;
      overflow-y: hidden;
      background: #fff;
      max-height: 150px;
      text-align: center;
      box-sizing: border-box;
      z-index: -1;

      width: 100%;
      position: relative;
      //top:-50px;
      }
      .option{
        //border-bottom: 1px solid #e1e1e1;
        //padding: 10px 0;
        transition: all .2s cubic-bezier(0.4, 0, 1, 1);
        line-height: 36px;
        &.active{
          font-size: 24px;
        }
      }
    }
    label{
      position: relative;
      @include size(7);
      @include size-md(10);
      @include size-sm(16);
      margin: 0 calc(100% / 24);
      .check{
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: #fff;
        border-radius: 13px;
        border: 3px solid #70cf47;
        background: #70cf47;
        position: absolute;
        top: 10px;
        left: calc(100% + 10px);
        @include sm(left, calc(100% + 5px));

      }
    }
    .selectBlock{
      display: flex;
      align-items: center;
    }
    select, option, input, .selectBlock{
      width: 100%;
      height: 35px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 0 15px;
      background: #fffffe;
      border: none;
      border-top: 1px solid #e5e6e5;
      border-radius: 15px;
      color: #b8b8b8;
      margin-bottom: 20px;
      margin-top: 7px;
      /*for WebKit*/
      -webkit-appearance: none;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
      background-image: url('../img/Arrow.png');
      background-position-x: 94%;
      background-position-y: center;
      background-repeat: no-repeat;
      &::-ms-expand {
        display: none;
      }
      &:focus, &:hover{
        outline: none;
      }
    }
  .selectBlock{
    height: unset;
    min-height: 38px;
    padding: 5px 40px 5px 15px;
  }
    input{
      background: #fffffe;
    }
  //}

  .themes{

    display: flex;

    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 99%;

    padding: 0 15px;
    box-sizing: border-box;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
      background: rgba(109,207,77,0.5);
      border-radius: 3px;
      height: 90%;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(109,207,77);
      border-radius: 3px;
      width: 5px;
      height: 90%;
    }
    scrollbar-base-color: rgba(109,207,77,1);
    scrollbar-3dlight-color:rgba(109,207,77,1);
    scrollbar-highlight-color: rgba(109,207,77,1);
    scrollbar-track-color: rgba(109,207,77,0.5);
    scrollbar-arrow-color: rgba(109,207,77,0.5);
    scrollbar-shadow-color: rgba(109,207,77,1);
    .theme{
      @include size(12);
      width: 289px;
      @include size-sm(22);
      height: 85px;
      @include sm(height, unset);
      margin-bottom: 50px;
      box-sizing: border-box;
      border-radius: 15px;
      position: relative;
      background-size: cover;
      cursor: pointer;
      &:last-child{
        margin-bottom: 10px;

      }
      img{
        display: block;

        width: 100%;

      }
      .title_theme{
        margin-left: 76px;
        margin-top: 16px;
        height: 47px;
        width: 193px;
        color: black;
      }
      &:after {
        content: "";
        flex: auto;
      }
      &.active{

      }
      &.disable{
        opacity: 0.5;
        cursor: auto;
      }
      .filter{
        //display: none;
      }
      &.check{
        .filter{
          display: flex;
          //background: rgba(255,215,0,0.6);
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          border-radius: 15px;
          img{
            margin: auto;
          }
          button{
            position: absolute;
            bottom: 7px;
            @include sm(bottom, 0);
            left: calc(50% - 130px / 2);
            @include sm(left, calc(50% - 100% / 2));
            width: 130px;
            @include sm(width, 100%);
            border-radius: 15px;
            background: #78cd76;
            font-size: 14px;
            color: #fff;
            border: none;
            padding: 7px 0;
            @include sm(padding, 3px 0);
            cursor: pointer;
            &:active, &:focus, &:hover{
              outline: none;
            }
          }
        }
      }
    }
  }
  .description{
    background: rgba(250, 247, 247, 0.8);
    border-radius: 15px;
    padding: 20px;
    @include size(10);
    @include sm(min-width, calc(90% - 5px));
    @include sm(max-height, 67vh);
    @include sm(margin, 0 20px);
    color: #555555;
    box-sizing: border-box;
    max-height: 430px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      width: 5px;
      background: rgba(109,207,77,0.5);
      border-radius: 3px;
      height: 90%;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(109,207,77);
      border-radius: 3px;
      width: 5px;
      height: 90%;
    }
    scrollbar-base-color: rgba(109,207,77,1);
    scrollbar-3dlight-color:rgba(109,207,77,1);
    scrollbar-highlight-color: rgba(109,207,77,1);
    scrollbar-track-color: rgba(109,207,77,0.5);
    scrollbar-arrow-color: rgba(109,207,77,0.5);
    scrollbar-shadow-color: rgba(109,207,77,1);
    h1{
      font-size: 24px;
      text-align: center;
    }
    p{
      font-size: 12px;
      margin-top: 15px;
    }
    h4{
      font-size: 14px;
      margin-top: 15px;
    }
  }
  .green{
    background: #79cd77;
    @include sm(background, transparent);
    width: 100%;
    @include size-md(22);
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-around;
    @include sm(margin-bottom, 0%);
    button{
      outline: none;
      height: 45px;
      border-radius: 25px;
      margin: 20px;
      @include sm(margin, 20px 0);
      background: #ff8304;
      padding-right: 30px;
      padding-left: 30px;
      border: none;
      color: rgba(0,0,0,0.5);
      font-size: 18px;
      box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
      &:focus, &:hover{
        outline: none;
        color: #fff;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
      &:active{
        outline: none;
        color: #fff;
        background: #ff9021;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }
  .sm-margin{
    @include sm(margin-top, 55px)
  }
}
.containerMob {
  display: none;
}
@media screen and (max-width: 780px){
  .containerMob {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    .pos1 {
      position: absolute;
      top: 9vw;
      left: 16vw;
      width: 26vw;
      //height: 26vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;
          font-size: 2vw;
        }
        .description{
          right: unset;
          bottom: unset;
          width: 55vw;
          left: 3vw;
          top: 2vw;
          border-radius: 0 15px 15px 15px;
          font-size: 2.2vw;
        }
        .indicator {
          width: 100%;
          height: 100%;

        }
      }
    }
    .pos2 {
      position: absolute;
      top: 9vw;
      right: 16vw;
      width: 26vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;
          font-size: 2vw;
        }
        .description{
          width: 55vw;
          right: 3vw;
          top: 2vw;
          left: unset;
          bottom: unset;
          border-radius: 15px 0 15px 15px;
          font-size: 2.2vw;
        }
        .indicator {
          width: 100%;
          height: 100%;

        }
      }
    }
    .pos3 {
      position: absolute;
      top: 45vw;
      left: 37vw;
      width: 26vw;
      height: 26vw;
      .avatar_scale{
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
      }
      .description{
        right: 0;
        top: 11%;
        left: unset;
        width: 40vw;
        border-radius: 15px 0 15px 15px;
        font-size: 2.2vw;
      }
      .avatar{
        width: 85%;
        height: 85%;
        margin: auto;
        position: relative;
        .img{
          height: 100%;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
    .pos4 {
      position: absolute;
      top: 66vw;
      left: 14vw;
      width: 32vw;
      //height: 29vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;
          font-size: 2.2vw;
        }
        .indicator {
          width: 100%;
          height: 100%;
          .row_indicator {
            display: flex;
            justify-content: space-around;
          }
          .plus {
            width: 14%;
            height: 16%;
            bottom: -10%;
            top: unset;
            left: -17%;
            position: absolute;
            z-index: 11;
            border-radius: 50%;
            &:hover {
              filter: blur(0.8px);
              box-shadow: 0 0 10px rgba(255, 255, 255, 1), inset 0 0 10px rgba(255, 255, 255, 1);
            }
          }
          .description{
            background: rgba(255,255,255,0.5);
            position: absolute;
            left: 3%;
            top: 100%;
            width: 50vw;
            text-align: left;
            border-radius: 0px 15px 15px 15px;
            padding: 15px;
            z-index: -10;
            opacity: 0;
            transition: all 0.5s linear;
            font-size: 2.2vw;
          }
          .description.on{
            z-index: 15;
            opacity: 1;
          }
          .description .text{
            padding: 3px;
            background: rgba(255,255,255,1);
            color: #585858;
          }
        }
      }
      .info_indicator {
        font-size: 2vw;
      }
    }
    .pos5 {
      position: absolute;
      top: 70vw;
      right: 15vw;
      width: 32vw;
      //height: 29vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;
          width: 74%;
          margin: 0 auto;
          font-size: 2.2vw;
        }
        .indicator {
          width: 100%;
          //height: 100%;
          .row_indicator {
            display: flex;
            justify-content: space-around;
          }
          .plus {
            width: 14%;
            height: 32%;
            bottom: -5%;
            top: unset;
            right: -17%;
            position: absolute;
            z-index: 11;
            border-radius: 50%;
            &:hover {
              filter: blur(0.8px);
              box-shadow: 0 0 10px rgba(255, 255, 255, 1), inset 0 0 10px rgba(255, 255, 255, 1);
            }
          }
          .description{
            background: rgba(255,255,255,0.5);
            position: absolute;
            right: 0%;
            top: 114%;
            width: 50vw;
            text-align: left;
            border-radius: 15px 0 15px 15px;
            padding: 15px;
            z-index: -10;
            opacity: 0;
            transition: all 0.5s linear;
            font-size: 2.2vw;
          }
          .description.on{
            z-index: 15;
            opacity: 1;
          }
          .description .text{
            padding: 3px;
            background: rgba(255,255,255,1);
            color: #585858;
          }
        }
      }
      .info_indicator_top {
        font-size: 2vw;
        text-align: center;
        .cvd {
          font-size: 4vw;
        }
      }
    }
    .pos6 {
      position: absolute;
      top: 112vw;
      left: 8vw;
      width: 86vw;
      //height: 29vw;
      .indicators {
        width: 100%;
        height: 10vw;
        position: relative;
        .title_indicator {
          text-align: left;
          margin-left: 5%;
          font-size: 2vw;
          position: absolute;
          bottom: 135%;
        }
        .indicator {
          width: 100%;
          height: 10vw;
          position: relative;
          .row_indicator {
            display: flex;
            justify-content: space-around;
          }
          .plus{
            bottom: 100%
          }
          .description{
            right: 10%;
            bottom: 162%;
            width: 50vw;
            left: unset;
            border-radius: 15px 15px 0 15px;
            font-size: 2.2vw;
          }
          .progress_bar1{
            height: 60%;
            //background-position-y: 130%;
          }
          .cursor{
            top: -38%
          }
          .percent{
            top: -3.5vw;
          }
        }
      }
    }
    .pos7 {
      position: absolute;
      top: 35vw;
      left: 3.5vw;
      width: 15vw;
      //height: 29vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;
          font-size: 2vw;
        }
        .indicator {
          width: 100%;
          height: 100%;
          .row_indicator {
            display: flex;
            justify-content: space-around;
          }
          .description{
            left: 70%;
            top: 108%;
            width: 50vw;
            right: unset;
            border-radius: 0 15px 15px 15px;
            font-size: 2.2vw;
          }
        }
      }
    }
    .pos8 {
      position: absolute;
      top: 35vw;
      right: 3.5vw;
      width: 15vw;
      //height: 29vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;
          font-size: 2vw;
        }
        .indicator {
          width: 100%;
          height: 100%;
          .row_indicator {
            display: flex;
            justify-content: space-around;
          }
          .description{
            right: 75%;
            top: 108%;
            width: 50vw;
            font-size: 2.2vw;
          }
        }
      }
    }

    .progress_bar3 {
      //background: url(../img/indicator_1.png) no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      .cursor {
        background: url(../img/cursor_3.png) no-repeat center center;
        position: absolute;
        background-size: cover;
        width: 71%;
        height: 71%;
        left: 14.5%;
        top: 14.5%;
        transform: rotate(0deg);
      }
      .text_indicator {
        position: absolute;
        top: 0;
        font-size: 12px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
    .progress_bar4 {
      //background: url(../img/indicator_2.png) no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      .cursor {
        background: url(../img/cursor_3.png) no-repeat center center;
        position: absolute;
        background-size: cover;
        width: 71%;
        height: 71%;
        left: 14.5%;
        top: 14.5%;
        transform: rotate(0deg);
      }
      .text_indicator {
        position: absolute;
        top: 0;
        font-size: 12px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
    .avatar {
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 10;
      img {
        border-radius: 500px;
        box-sizing: border-box;
        border: 1px solid #fff;
        width: 100%;
        height: 100%;
      }
    }
    .progress_bar2 {
      //background: url("../img/indicator_3.png") no-repeat center center;
      background-size: cover;
      width: 14vw;
      height: 14vw;
      //display: flex;
      //flex-direction: column;
      //justify-content: center;
      position: relative;
      .cursor {
        background: url(../img/cursor_2.png) no-repeat center center;
        position: absolute;
        background-size: cover;
        width: 16vw;
        height: 16vw;
        left: -1vw;
        top: -1vw;
        transform: rotate(0deg);
      }
      .text_indicatition {
        //margin: auto;
        position: absolute;
        top: 0;
      }
      p {
        position: relative;
        bottom: unset;
        top: unset;
        //margin: auto;
        font-size: 2vw;
        text-align: center;
        &.big {
          //top: 2vw;
          //bottom: unset;
          font-size: 3.8vw;
          line-height: 20px;
        }
      }
    }
    .progress_bar1 {
      background: url("../img/indicator_6.png") no-repeat top center;
      background-size: 100%;
      width: 86vw;
      height: 8vw;
      text-align: left;
      margin: 0 auto;
      .cursor {
        position: absolute;
        left: 0;
        margin-left: -7px;
        transform: translateX(-7px);
        height: 8vw;
      }
      .percent {
        position: absolute;
        left: 0;
        top: -3.5vw;
        font-size: 2.5vw;
      }
      .shkala-1, .shkala-2, .shkala-3 {
        position: relative;
        bottom: -10px;
        font-size: 10px;
      }
      .shkala-1 {
        left: 20vw;
        margin-left: calc(-3vw - 20px);
      }
      .shkala-2 {
        left: 38vw;
        margin-left: calc(-3vw - 20px);
      }
      .shkala-3 {
        left: 52vw;
        margin-left: calc(-3vw - 20px);
      }
    }
    .progress_bar5, .progress_bar6 {
      width: 100%;
      //height: 40vw;
      //background: url("../img/indicator_5.png") no-repeat center center;
      background-size: cover;
      .opacity {
        background: url("../img/opasity.png") no-repeat top center;
        width: 100%;
        height: 50%;
        background-size: 100%;
      }
      .cursor {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        left: 14vw;
        top: -6px;
        align-items: flex-start;
        line-height: 12px;
        img {
          height: 10px;
          margin-top: 2px;
        }
        .big {
          font-size: 2.8vw;
        }
        div {
          margin-left: 1px;
          font-size: 14px;
        }
      }
    }
    .progress_bar6 {
      .opacity {
        background: url("../img/opasity2.png") no-repeat top center;
        background-size: 100%;
      }
      .cursor {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        left: unset;
        right:100%;
        align-items: flex-start;
        line-height: 12px;
        transform: scale(-1, 1);
        img {
          height: 10px;
          margin-top: 2px;
        }
        .big {
          font-size: 2.8vw;
          transform: scale(-1, 1);
        }
        div {
          margin-left: 1px;
          font-size: 14px;
        }
      }
      .sometext {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        align-items: center;
        position: absolute;
        font-size: 1.8vw;
        text-align: center;
        .txt {
          //margin: 5px 0;
          line-height: 3vw;
        }
        .big {
          font-size: 2vw;
        }
      }
    }

  }
}
.pc_sm{
  display: flex;
}
.pc{
  @include sm(display, none);
}
.sm{
  display: none;
  @include sm(display, flex);
  width: 100%;
}
div.p{
  position:fixed;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
  transition: all 1s;
}

/* Animation*/



@keyframes animationBGBig {  
    from {
      transform: rotate(0deg) translateY(-40%) translateX(0);
     /* margin-top: -15%;
      margin-left: 0%;*/
    }
    25%{
     /* margin-top: -7%;
      margin-left: 5%;*/
      transform: rotate(-15deg) translateY(-25%) translateX(15%);
    }
    50%{
    transform: rotate(-40deg) translateY(0) translateX(0);
     /* margin-top: 0%;
      margin-left: 0%;*/
      
    }
    75%{
      transform: rotate(-15deg) translateY(-25%) translateX(-15%);
      /*margin-top: -7%;
      margin-left: -5%;*/
    }
    to {
      
      /*margin-top: -15%;
      margin-left: 0%;*/
      transform: rotate(0deg) translateY(-40%) translateX(0);
    };
  }
  @keyframes animationBGMedium {  
    from {
      transform: rotate(0deg) translateY(-40%) translateX(0);
      /*margin-top: -10%;
      margin-left: 0%;*/
 
    }
    25%{
     /* margin-top: -3%;
      margin-left: 3%;*/
      transform: rotate(15deg) translateY(-25%) translateX(15%);
    }
    50%{
      transform: rotate(40deg) translateY(0) translateX(0);
      /*margin-top: 0%;
      margin-left: 0%;*/
    }
    75%{
      transform: rotate(15deg) translateY(-25%) translateX(-15%);
      /*margin-top: -3%;
      margin-left: -3%;*/
    }
    to {
      transform: rotate(0deg) translateY(-40%) translateX(0);
      /*margin-top: -10%;
      margin-left: 0%;*/
      
    }
  }

   @keyframes animationBGSmall {  
    from {
      transform: rotate(0deg) translateY(-40%) translateX(0);
      /*margin-top: -5%;
      margin-left: 0%;*/
 
    }
    25%{
      /*margin-top: -2%;
      margin-left: 2%;*/
      transform: rotate(-15deg) translateY(-25%) translateX(15%);
    }
    50%{
      transform: rotate(-40deg) translateY(0) translateX(0);
      /*margin-top:0%;
      margin-left: 0%;*/
      
    }
    75%{
      /*margin-top: -2%;
      margin-left: -2%;*/
      transform: rotate(-15deg) translateY(-25%) translateX(-15%);
    }
    to {
      transform: rotate(0deg) translateY(-40%) translateX(0);
      /*margin-top: -5%;
      margin-left: 0%;*/
      
    }
  }
@media screen and (max-height: 768px) and (orientation: landscape){
  .progress_bar2 p {
    font-size: 8px;
  }
  .progress_bar2 p.big {
    font-size: 17px;
    line-height: 17px;
  }
  .center .indicators .title_indicator .age{
    font-size: 10px;
  }
  .title_indicator .cvd {
    font-size: 12px;
    line-height: 21px;
  }
  .center .indicators .info_indicator_top .cvd, .center .indicators .title_indicator .cvd {
    font-size: 13px;
    line-height: 21px;
  }
}
.payContainer{
  margin: auto;
  display: flex;
  justify-content: center;
  .payContent{
    margin: 75px auto 10px auto;
    padding: 35px 52px;
    @include size(24);
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background: rgba(250, 247, 247, 0.95);
    box-sizing: border-box;

    label{
      @include size(15);
      @include size-md(17);
      @include size-sm(18);
      color: #000;
      position: relative;
      &.card{
        flex-basis: 250px;
        flex-shrink: 0;
      }
      &.cardInfo{
        width:120px;
        &.cardInfoNum{
          width: 50%;
        }
        &.marRig{
          margin-right: 35px;
          flex-basis: 60px;
          flex-shrink: 0;
        }
      }
      &.email{
        width: 90%;
      }
      &.pointer{
        color: #c2c2c2;
        font-size: 14px;
        letter-spacing: 0.35px;
        display: flex;
        line-height: 35px;
        flex-basis:215px;
        input[type="checkbox"]{
          display: none;
        }
        input[type="checkbox"]:checked+.checkbox i{
          display: block;
        }
        .checkbox{
          width: 40px;
          height: 35px;
          box-shadow: inset 0 2px 2px rgba(51, 51, 51, 0.13);
          border-radius: 4px;
          background-color: #ffffff;
          opacity: 0.97;
          display: flex;
          margin-left: 10px;
          i{
            margin: auto;
            color: #555555;
            display: none;
          }
        }
      }
      .check{
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: #fff;
        border-radius: 13px;
        border: 3px solid #78cd76;
        background: #78cd76;
        position: absolute;
        top: 30px;
        left: calc(100% + 10px);
        box-shadow: 1px 1px 2px rgba(164, 200, 126, 0.36);
        @include sm(left, calc(100% + 5px))
      }
      input[type="text"], input[type="date"], input[type="email"],
      input[type="password"], input[type="tel"], input[type="number"],
      select, option{
        width: 100%;
        height: 35px;
        font-size: 16px;
        box-sizing: border-box;
        padding: 0 15px;
        background: #fffffe;
        border: none;
        border-top: 1px solid #e5e6e5;
        border-radius: 4px;
        color: #555555;
        margin-bottom: 20px;
        margin-top: 7px;
        box-shadow: inset 0 2px 2px rgba(51, 51, 51, 0.13);
        &:focus, &:hover{
          outline: none;
        }
        &.number{
          @include size(7);
        }
        &::-webkit-input-placeholder{
          color: #c2c2c2;
          font-size: 14px;
          letter-spacing: 0.44px;
        }
        &::-moz-placeholder
        {
          color: #c2c2c2;
          font-size: 14px;
          letter-spacing: 0.44px;
        },
        &:-moz-placeholder{
        color: #c2c2c2;
        font-size: 14px;
        letter-spacing: 0.44px;
      }
        &:-ms-input-placeholder{
          color: #c2c2c2;
          font-size: 14px;
          letter-spacing: 0.44px;
        }
      }
      select{
        /*for WebKit*/
        -webkit-appearance: none;
        /* for FF */
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        /* for IE */
        -ms-appearance: none;
        appearance: none!important;
        background-image: url('../img/Arrow.png');
        background-position-x: 94%;
        background-position-y: center;
        background-repeat: no-repeat;
        &::-ms-expand {
          display: none;
        }
      }
      input[type="number"]{
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
          -webkit-appearance: none;
          margin: 0;
        }
      }
      p{
        color: #c2c2c2;
        font-size: 14px;
        //margin-left: -7px;
        text-align: left;
        span{
          color: #6fcf46;
        }
      }
    }
    .rowInfo{
      display: flex;
      margin-left: 70px;
      margin-right: 70px;
    }
    .hren{
      color: #555555;
      font-size: 18px;
      width: 24px;
      margin-top: 30px;
      text-align: center
    }
    .rowPay{
      display: flex;
      justify-content: space-between;
      .cardTypes{
        display: flex;
        @include size(12);
        justify-content: space-between;
        margin-left: auto;
        align-items: center;
        .cardType{
          border-radius: 8px;
          display: block;
          &.active{
            border: 3px solid #79ce77;
          }
          img{
            border-radius: 5px;
            display: block;
            box-sizing: border-box;
          }
        }

      }
      &.jsa{
        justify-content: space-around;
        button{
          color: rgba(0,0,0,0.3);
          font-size: 18px;
          text-transform: uppercase;
          letter-spacing: 1.33px;
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 23px;
          background-color: #ff8f1f;
          padding:17px 35px;
          border: none;
          min-width: 180px;
          &:hover{
            color: #fefefe;
          }
          &:active{
            box-shadow: inset 2px 3px 7px rgba(0, 0, 0, 0.35);
            color: #fefefe;
          }
        }
      }
      &.miniButtons{
        //width: 350px;
        margin-left: auto;
        align-items: center;
        justify-content: flex-end;
        img{
          height: 38px;
          width: 38px;
          margin-right: 30px;
        }
        button{
          font-size: 10px;
          text-transform: uppercase;
          border-radius: 12px;
          background-color: #ff8f1f;
          padding: 11px 30px;
          border: none;
          color: rgba(0,0,0,0.3);
          min-width:100px;
          letter-spacing: 1.4px;
          margin-left: 26px;
          &:hover{
            color: #fefefe;
          }
          &:active{
            box-shadow: inset 2px 3px 7px rgba(0, 0, 0, 0.35);
            color: #fefefe;
          }
        }
      }
      .col{
        @include size(12);
        display: flex;
        flex-direction: column;
        .address{
          width: 250px;

        }
      }
    }
    h1{
      color: #79ce77;
      font-size: 24px;
    }
    h2{
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.35px;
      color: #565656;
      margin-top: 2%;
      margin-bottom: 2%;
      text-align: center;
      width:100%;
    }
  }
}
