@import "smart-grid.scss";
@import "fa/font-awesome";

@include reset();

html,body{
  background: url("../img/bg.png") no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  //height:100%;
  //min-height:100%;
  //overflow:hidden;
  z-index: 0;
}
.layer1,.layer2,.layer3,.layer4,.layer5,.layer6,.layer7,.layer8{
  width: 100%;
  height: 100%;
  z-index: 0;
}
.layer1{background:url(../img/paralax1.png) no-repeat ;background-size: 100%;}
.layer2{background:url(../img/paralax2.png) no-repeat ;background-size: 100%;left: -50px;}
.layer3{background:url(../img/paralax3.png) no-repeat ;background-size: 100%; top: -300px}
.layer4{background:url(../img/paralax4.png) no-repeat ;background-size: 100%; top: -350px}
.layer5{background:url(../img/paralax5.png) no-repeat ;background-size: cover; bottom: 0}
.layer8{background:url(../img/paralax8.png) no-repeat ;background-size: cover; bottom: 0}
.layer6{background:url(../img/paralax6.png) no-repeat ;background-size: 100%; top: 400px; left: 200px}
.layer7{background:url(../img/paralax7.png) no-repeat ;background-size: 100%; top: 400px; left: 50px}

.container{
  @include wrapper();
  z-index: 1;
  position: relative;
  min-height: 100vh;
}
.row{
  @include row-flex();
  justify-content: center;
}
.firstPageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo{
  @include size(8);
  //margin-top: 225px;
}
.loading{
  background: url("../img/loadIcon.png") no-repeat !important;
  background-size: contain !important;
  animation: rotate 1s infinite linear;
  border: none !important;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
.langs {
  @include size(6);
  @include row-flex();
  justify-content: space-around;
  align-items: center;
  height: 170px;
  .lang{
    width: 45px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    &.active{
      font-size: 24px;
      img{
        border:3px solid #00aeef;
        border-radius: 25px;
      }
    }
  }
}
.firstPage{
  @include size(8);
  display: flex;
  justify-content: space-around;
  button{
    @include size(11);
    height: 45px;
    border-radius: 25px;
    background: #ff8304;
    padding: 0;
    border: none;
    color: rgba(0,0,0,0.5);
    font-size: 18px;
    box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
    &:focus, &:hover{
      outline: none;
      color: #fff;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }
    &:active{
      outline: none;
      color: #fff;
      background: #ff9021;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }
  }
}
.fifthPage{
  margin: 90px 0;
}
.formBlock{
  margin: 10px;
  .Metrics{
    display: flex;
    @include size(15);
    background: #f3efef;
    color: #555555;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
    margin-top: 25px;
    .btn{
      width: 50%;
      border: 1px solid #a5a2a2;
      box-sizing: border-box;
      padding: 13px 0;
      &.active{
        background: #60b23d;
        color: #fff;
        border: 1px solid #599939;
      }
      &:nth-child(1){
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:nth-child(2){
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

    }
  }
}
.login{
  @include size(10);
  background: rgba(250,247,247, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 45px 0 35px 0;
  box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.5);
  .btn_social{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include size(15);
    height: 35px;
    color: #fff;
    border-radius: 3px;
    border: none;
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
    img{
      height: 27px;
      border-right: 1px solid rgba(0,0,0,0.1);
      margin-right: 10px;
    }
    &.facebook{
      background: #3b5998;
    }
    &.google{
      background: #dc4a38;
    }
  }
  h5{
    font-size: 24px;
    color: #c2c2c2;
    margin-bottom: 10px;
  }
  label{
    @include size(15);
    color: #000;
    position: relative;
    &.pointer, &.pointer2{
      cursor: pointer;
      color: #555555;
      font-size: 16px;
      &:hover .checkbox{
        border: 3px solid #d9d9d9;
      }
      span{
        margin: 30px 0;
      }
    }
    &.pointer2 span{
      margin-top: 10px;
    }
    &.radio{
      margin-top: 10px;
      span{
        margin:  0;
      }
    }
    &.bottom{
      margin-top: 35px;
    }
    .razmer{
      font-size: 16px;
      color: #c2c2c2;
      margin: 10px;
      &:nth-child(3)~.check{
        left: calc(70% + 45px);
      }
      &:nth-child(3)+.check{
        left: calc(29.16667% + 40px);
      }
    }
    .check{
      display: inline-block;
      width: 25px;
      height: 25px;
      box-sizing: border-box;
      text-align: center;
      font-size: 14px;
      color: #fff;
      border-radius: 13px;
      border: 3px solid #70cf47;
      background: #70cf47;
      position: absolute;
      top: 30px;
      left: calc(100% + 20px)

    }
    input[type="text"], input[type="date"], input[type="email"],
    input[type="password"], input[type="tel"], input[type="number"],
    select, option{
      width: 100%;
      height: 35px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 0 15px;
      background: #fffffe;
      border: none;
      border-top: 1px solid #e5e6e5;
      border-radius: 4px;
      color: #555555;
      margin-bottom: 20px;
      margin-top: 7px;
      &:focus, &:hover{
        outline: none;
      }
      &.number{
        @include size(7);
      }
    }
    select{
      /*for WebKit*/
      -webkit-appearance: none;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
      background-image: url('../img/Arrow.png');
      background-position-x: 94%;
      background-position-y: center;
      background-repeat: no-repeat;
      &::-ms-expand {
        display: none;
      }
    }
    input[type="number"]{
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
      }
    }
    input[type="radio"], input[type="checkbox"]{
      display: none;
      &+.checkbox{
        border: 3px solid #d9d9d9;
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: transparent;
        border-radius: 13px;
        margin-right: 15px;
      }
      &:checked+.checkbox{
        border: 3px solid #70cf47;
        text-align: center;
        font-size: 14px;
        color: #70cf47;
      }
    }
    .eye{
      width: 20px;
      height: 11px;
      position: absolute;
      top: 37px;
      right: 10px;
      background: url("../img/eye_grey.png") no-repeat;
      background-size: contain;
      &.active{
        background: url("../img/eye_g.png") no-repeat;
        background-size: contain;
      }
    }
    p{
      color: #c2c2c2;
      font-size: 14px;
      margin-left: -7px;
      span{
        color: #6fcf46;
      }
    }
  }
  .firstPage{
    @include size(24);
  }
}
.license{
  @include size(24);
  background: rgba(250,247,247, 0.95);
  min-height: 60vh;
  padding: 40px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #333333;
  border-radius: 15px;
  .ob{
    background: rgba(255,255,255, 0.97);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 0px 20px 15px;
    @include size(22);
  }
  .text{
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 10px;
    h1{
      font-size: 24px;
      color: #000;
    }
    p{
      margin: 20px 0;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background: rgba(196,14,89,0.5);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(196,14,89);
      border-radius: 3px;
      width: 5px;
    }
    scrollbar-base-color: rgb(196,14,89);
    scrollbar-3dlight-color: rgb(196,14,89);
    scrollbar-highlight-color: rgb(196,14,89);
    scrollbar-track-color: #edb6cc;
    scrollbar-arrow-color: #edb6cc;
    scrollbar-shadow-color: rgb(196,14,89);
  }
  .checkb{
    display: flex;
    justify-content: space-between;
    @include size(20);
    font-size: 16px;
    .pointer:hover .checkbox{
      border: 3px solid #d9d9d9;
    }
    input[type="checkbox"]{
      display: none;
      &+.checkbox{
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: transparent;
        border-radius: 13px;
        border: 3px solid transparent;
        margin-right: 15px;
      }
      &:checked+.checkbox{
        border: 3px solid #c40e59;
        text-align: center;
        font-size: 14px;
        color: #c40e59;
      }
    }
  }
  .licensePage{
    @include size(8);
    display: flex;
    justify-content: space-around;
    button{
      @include size(11);
      height: 45px;
      border-radius: 25px;
      background: #c40e59;
      padding: 0;
      border: none;
      color: rgba(0,0,0,0.5);
      font-size: 18px;
      box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
      &:focus, &:hover{
        outline: none;
        color: #fff;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
      &:active{
        outline: none;
        color: #fff;
        background: #d90f63;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }

}
.avatar{
  @include size(4);
  margin-top: 40px;
  margin-bottom: 35px;
}
.left, .right{
  display: flex;
  align-items: center;
  @include size(6);
  .theme{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.851);
    width: 225px;
    height: 275px;
    color: #555555;
    font-size: 24px;
    text-align: center;
    img{
      border-radius: 15px;
    }
  }
  .right_indicator{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .indicators{
    @include col();

    .title_indicator{
      text-align: center;
    }
  }
}
.center{
  background: url("../img/body.png") top center no-repeat;
  flex-wrap: wrap;
  @include size(12);
  @include col();
  @include row-flex();
  .indicators{
    @include size(8);
    text-align: center;
    @include col();
    margin-top: 55px;

    &:nth-child(2n){
      @include offset-left(8);
    }
    &:nth-child(1), &:nth-child(2){
      margin-top: -40px;
      padding: 0 12px;
      .title_indicator{
        margin-bottom: 17px;
      }
    }
    .title_indicator{
      margin-bottom: 5px;
      .age{
        font-size: 14px;
        line-height: 24px;
      }
      .cvd{
        font-size: 24px;
        line-height: 24px;
      }
    }
    .info_indicator_top{
      .cvd{
        font-size: 24px;
        line-height: 24px;
      }
    }
    .info_indicator{
      margin-top: 15px;
      margin-left: 10px;
      margin-right: -100px;
      text-align: left
    }
    .indicator{
      //@include size(16);
      .mini_indicator{
        @include size(12);
        margin: 0 5px -4px;
      }
      .row_indicator{
        display: flex;
        justify-content: space-around;
        margin-bottom: 6px;
      }
    }
  }
}
.bottom{
  @include size(12);
  .indicators{
    margin: 20px 0;
    .title_indicator{
      margin-left: 35px;
    }
    .indicator{
      text-align: center;
    }
  }
}
.button_share{
  text-align: center;
}
.progress_bar1{
  background: url("../img/indicator_6.png") no-repeat center center;
  background-size: 100%;
  width: 436px;
  height: 40px;
  text-align: left;
  margin: 0 auto;
  .cursor{
    position: relative;
    left: 0;
    margin-left: -7px;
  }
  .percent{
    position: relative;
    left: 0;
    top: -31px;
    font-size: 10px;
  }
  .shkala-1,.shkala-2,.shkala-3{
    position: relative;
    bottom: -10px;
    font-size: 10px;
  }
  .shkala-1{
    left: 15%;
  }
  .shkala-2{
    left: 30%;
  }
  .shkala-3{
    left: 40%;
  }
}
.progress_bar2{
  background: url("../img/indicator_3.png") no-repeat center center;
  background-size: cover;
  width: 72px;
  height: 72px;
  .cursor{
    background: url(../img/cursor_2.png) no-repeat center center;
    position: relative;
    background-size: cover;
    width: 88px;
    height: 88px;
    left: -8px;
    top: -8px;
    transform: rotate(0deg);
  }
  p{
    position: relative;
    top: -68px;
    font-size: 12px;
    &.big{
      font-size: 24px;
      line-height: 20px;
    }
  }
}
.progress_bar3, .progress_bar4{
  background: url("../img/indicator_1.png") no-repeat center center;
  background-size: cover;
  width: 130px;
  height: 130px;
  .cursor{
    background: url(../img/cursor_3.png) no-repeat center center;
    position: relative;
    background-size: cover;
    width: 90px;
    height: 90px;
    left: 20px;
    top: 20px;
    transform: rotate(0deg);
  }
  .text_indicator{
    position: relative;
    top: -90px;
    font-size: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .big{
      font-size: 24px;
      line-height: 24px;
    }
  }
}
.progress_bar4{
  background: url("../img/indicator_2.png") no-repeat center center;
  background-size: cover;
}
.progress_bar5, .progress_bar6{
  width: 72px;
  height: 207px;
  background: url("../img/indicator_5.png") no-repeat center center;
  background-size: cover;
  .opacity{
    background: url("../img/opasity.png") no-repeat top center;
    width: 100%;
    height: 50%;
    background-size: 100%;
  }
  .cursor{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 70px;
    top: -6px;
    align-items: flex-start;
    line-height: 12px;
    img{
      height: 10px;
      margin-top: 2px;
    }
    .big{
      font-size: 16px;
    }
    div{
      margin-left: 5px;
      font-size: 14px;
    }
  }
}
.progress_bar6{
  background: url("../img/indicator_4.png") no-repeat center center;
  background-size: cover;
  .opacity{
    background: url("../img/opasity2.png") no-repeat top center;
    background-size: 100%;
  }
  .sometext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 207px;
    width: 72px;
    align-items: center;
    position: absolute;
    font-size: 12px;
    text-align: center;
    .txt{
      margin: 5px 0;
      line-height: 15px;
    }
    .big{
      font-size: 14px;
    }
  }
}
.themesPageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .content{
    width: 100%;
    background: rgba(250, 247, 247, 0.8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 25px calc(100% /24);
    display: flex;
    justify-content: space-between;
    &.col{
      flex-direction: column;
      align-items: center;
    }
  }
  .mar{
    padding: 15px 0;
    @include size(16);
    background: rgba(250, 247, 247, 0.8);
    border-radius: 15px;
    max-height: 430px;
  }
  .progressBarTheme{
    @include size(18);
    height: 60px;
    background: url("../img/topScale.png") no-repeat;
    background-size: 100%;
  }
  .questionBlock{
    @include size(24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.type1, &.type3{
      .row {
        justify-content: center;
        width: 100%;
        margin-bottom: 10vh;
      }
    }
    &.type2 .row, &.type4 .row{
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      margin-top: 35px;
      .imgQ{
        @include size(15);
        padding-top: 10px;
        img{
          border-radius: 15px;
        }
      }
      .right{
        @include size(8);
        flex-direction: column;
        align-items: flex-start;
        h1{
          @include size(19);
          margin-top: 0;
          text-align: left;
          margin-bottom: 20px;
        }
        label{
          @include size(21);
          margin: 0;
        }
      }
    }
    &.type3{
      .row{
        justify-content: space-between;
        margin-bottom: 5vh;
      }
      h1{
        @include size(24);
        font-size: 40px;
      }
      .imgAnswer{
        border-radius: 15px;
        @include size(6);
        height: 220px;
        box-sizing: border-box;
        &.check{
          border: 3px solid #65d53a;
        }
      }
    }
    &.type4 .row{
      .imgQ{
        font-size: 36px;
        background: rgba(250, 247, 247, 0.8);
        border-radius: 15px;
        box-sizing: border-box;
        padding: 20px;
        h1{
          @include size(24);
          margin-top: 0;
          margin-bottom: 10px;
        }
      }
      .right{
        background: rgba(250, 247, 247, 0.8);
        border-radius: 15px;
        box-sizing: border-box;
        padding: 20px;
        @include size(9);
        h1{
          font-size: 24px;
          margin-bottom: 45px;
          margin-top: 5px;
        }
        .answer{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: space-between;
          @include size(24);
          .imgAnswer{
            @include size(12);
            height: 140px;
            margin: 7px 0;
            border-radius: 15px;
            box-sizing: border-box;
            &.check{
              border: 3px solid #6dcf4d;
            }
          }
        }
      }
    }
    h1{
      font-size: 36px;
      text-align: center;
      color: #555555;
      @include size(9);
      margin-top: 10vh;
      margin-bottom: 40px;
    }
    .select{
      font-size: 18px;
      color: #b8b8b8;
      border-radius: 15px;
      border: 2px solid #e1e1e1;
      overflow-y: scroll;
      background: rgba(255,255,255,0.97);
      height: 120px;
      text-align: center;
      box-sizing: border-box;
      margin: 0 calc(100% / 24);
      @include size(7);
      &::-webkit-scrollbar {
        width: 5px;
        background: rgba(196,14,89,0.5);
        border-radius: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(196,14,89);
        border-radius: 3px;
        width: 5px;
      }
      scrollbar-base-color: rgb(196,14,89);
      scrollbar-3dlight-color: rgb(196,14,89);
      scrollbar-highlight-color: rgb(196,14,89);
      scrollbar-track-color: #edb6cc;
      scrollbar-arrow-color: #edb6cc;
      scrollbar-shadow-color: rgb(196,14,89);
      .option{
        border-bottom: 1px solid #e1e1e1;
        //padding: 10px 0;
        line-height: 38px;
        &.active{
          font-size: 22px;
        }
      }
    }
    label{
      position: relative;
      @include size(6);
      margin: 0 calc(100% / 24);
      .check{
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: #fff;
        border-radius: 13px;
        border: 3px solid #70cf47;
        background: #70cf47;
        position: absolute;
        top: 10px;
        left: calc(100% + 10px)

      }
    }
    select, option, input{
      @include size(24);
      height: 35px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 0 15px;
      background: #fffffe;
      border: none;
      border-top: 1px solid #e5e6e5;
      border-radius: 15px;
      color: #b8b8b8;
      margin-bottom: 20px;
      margin-top: 7px;
      /*for WebKit*/
      -webkit-appearance: none;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
      background-image: url('../img/Arrow.png');
      background-position-x: 94%;
      background-position-y: center;
      background-repeat: no-repeat;
      &::-ms-expand {
        display: none;
      }
      &:focus, &:hover{
        outline: none;
      }
    }
    input{
      background: #fffffe;
    }
  }

  .themes{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 99%;

    padding: 0 15px;
    box-sizing: border-box;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
      background: rgba(109,207,77,0.5);
      border-radius: 3px;
      height: 90%;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(109,207,77);
      border-radius: 3px;
      width: 5px;
      height: 90%;
    }
    scrollbar-base-color: rgb(196,14,89);
    scrollbar-3dlight-color: rgb(196,14,89);
    scrollbar-highlight-color: rgb(196,14,89);
    scrollbar-track-color: #edb6cc;
    scrollbar-arrow-color: #edb6cc;
    scrollbar-shadow-color: rgb(196,14,89);
    .theme{
      @include size(8);
      height: 200px;
      border-radius: 15px;
      margin-bottom: 10px;
      position: relative;
      background-size: cover;
      cursor: pointer;
      &.active{
        border: 3px solid #6dcf4d;
      }
      &.disable{
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
        cursor: auto;
      }
      .filter{
        display: none;
      }
      &.check{
        .filter{
          display: flex;
          background: rgba(255,215,0,0.6);
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          border-radius: 15px;
          img{
            margin: auto;
          }
          button{
            position: absolute;
            bottom: 7px;
            left: calc(50% - 130px / 2);
            width: 130px;
            border-radius: 15px;
            background: #6dcf4d;
            font-size: 14px;
            color: #fff;
            border: none;
            padding: 7px 0;
            cursor: pointer;
            &:active, &:focus, &:hover{
              outline: none;
            }
          }
        }
      }
    }
  }
  .description{
    background: rgba(250, 247, 247, 0.8);
    border-radius: 15px;
    padding: 20px;
    @include size(7);
    color: #555555;
    box-sizing: border-box;
    h1{
      font-size: 24px;
      text-align: center;
    }
    p{
      font-size: 12px;
      margin-top: 15px;
    }
    h4{
      font-size: 14px;
      margin-top: 15px;
    }
  }
  .green{
    background: #6dcf4d;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-around;
    button{
      @include size(4);
      height: 45px;
      border-radius: 25px;
      margin: 20px;
      background: #ff8304;
      padding: 0;
      border: none;
      color: rgba(0,0,0,0.5);
      font-size: 18px;
      box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
      &:focus, &:hover{
        outline: none;
        color: #fff;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
      &:active{
        outline: none;
        color: #fff;
        background: #ff9021;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
