@import "smart-grid.scss";
@import "fa/font-awesome";

@include reset();

html,body{

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  //height:100%;
  //min-height:100vh;
  //overflow:hidden;
  z-index: 0;
}
.layer1,.layer2,.layer3,.layer4,.layer5,.layer6,.layer7,.layer8{
  width: 100%;
  height: 100%;
  z-index: 0;
}
.main1{
  background: url("../img/bg.png") no-repeat;
  background-size: cover;
}

.main2{
  background: url("../img/bg2.png") no-repeat;
  background-size: cover;
}

.main3{
  background: url("../img/bg3.png") no-repeat;
  background-size: cover;
}

.main4{
  background: url("../img/bg4.png") no-repeat;
  background-size: cover;
}

.main5{
  background: url("../img/bg5.png") no-repeat;
  background-size: cover;
}
.layer1{background:url(../img/paralax1.png) no-repeat ;background-size: cover;}
.layer2{background:url(../img/paralax2.png) no-repeat ;background-size: cover;left: -50px;}
.layer3{background:url(../img/paralax3.png) no-repeat ;background-size: cover; top: -300px}
.layer4{background:url(../img/paralax4.png) no-repeat ;background-size: cover; top: -350px}
.layer5{background:url(../img/paralax5.png) no-repeat ;background-size: cover; bottom: 0}
.layer8{background:url(../img/paralax8.png) no-repeat ;background-size: cover; bottom: 0}
.layer6{background:url(../img/paralax6.png) no-repeat ;background-size: cover; top: 400px; left: 200px}
.layer7{background:url(../img/paralax7.png) no-repeat ;background-size: cover; top: 400px; left: 50px}
.layer8{background:url(../img/paralax8.png) no-repeat ;background-size: cover;}

.layer9{background:url(../img/paralax9.png) no-repeat ;background-size: cover; top:0}
.layer10{background:url(../img/paralax10.png) no-repeat ;background-size: cover;top:0}
.layer11{background:url(../img/paralax11.png) no-repeat ;background-size: cover;top:0}
.layer12{background:url(../img/paralax12.png) no-repeat ;background-size: cover;top:0 }
.layer13{background:url(../img/paralax13.png) no-repeat ;background-size: cover;top:0 }
.layer14{background:url(../img/paralax14.png) no-repeat ;background-size: cover;top: 200px; left: 200px }
.layer15{background:url(../img/paralax15.png) no-repeat ;background-size: cover;top:0 }
.layer16{background:url(../img/paralax16.png) no-repeat ;background-size: cover;top:0 }
.layer17{background:url(../img/paralax17.png) no-repeat ;background-size: cover;top:0}


.layer18{background:url(../img/paralax18.png) no-repeat ;background-size: cover;top:0}
.layer19{background:url(../img/paralax19.png) no-repeat ;background-size: cover;top:0}
.layer20{background:url(../img/paralax20.png) no-repeat ;background-size: cover;top:0}
.layer21{background:url(../img/paralax21.png) no-repeat ;background-size: cover;top:0}
.layer22{background:url(../img/paralax22.png) no-repeat ;background-size: cover;top:0}
.layer23{background:url(../img/paralax23.png) no-repeat ;background-size: cover;top:0}
.layer24{background:url(../img/paralax24.png) no-repeat ;background-size: cover;top:0}
.layer25{background:url(../img/paralax25.png) no-repeat ;background-size: cover;top:0}
.layer26{background:url(../img/paralax26.png) no-repeat ;background-size: cover;top:0}


.layer27{background:url(../img/paralax27.png) no-repeat ;background-size: cover; top:0}
.layer28{background:url(../img/paralax28.png) no-repeat ;background-size: cover; top:0}
.layer29{background:url(../img/paralax29.png) no-repeat ;background-size: cover; top:0}
.layer30{background:url(../img/paralax30.png) no-repeat ;background-size: cover; top:0}
.layer31{background:url(../img/paralax31.png) no-repeat ;background-size: cover; top:0}


.layer32{background:url(../img/paralax32.png) no-repeat ;background-size: cover;top:0}
.layer33{background:url(../img/paralax33.png) no-repeat ;background-size: cover;top:0}
.layer34{background:url(../img/paralax34.png) no-repeat ;background-size: cover;top:0}
.layer35{background:url(../img/paralax35.png) no-repeat ;background-size: cover;top:0}
.layer36{background:url(../img/paralax36.png) no-repeat ;background-size: cover;top:0}
.layer37{background:url(../img/paralax37.png) no-repeat ;background-size: cover;top:0}
.layer38{background:url(../img/paralax38.png) no-repeat ;background-size: cover;top:0}
.layer39{background:url(../img/paralax39.png) no-repeat ;background-size: cover;top:0}
.layer40{background:url(../img/paralax40.png) no-repeat ;background-size: cover;top:0}

#grad1 {
  //height: 200px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right red, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}
.container{
  @include wrapper();
  z-index: 1;
  position: relative;
  min-height: 100vh;
}
.header{
  width: 100%;
  background: rgba(109, 207, 77, 0.95);
  height: 70px;
  @include sm(height, 55px);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 5;
  &Container{
    @include wrapper();
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    .logo_head{
      height: 70%;
      display: block;
      margin-left: 0;
      @include sm(display, none);
      img{
        height: 100%;
      }
      &.m{
        width: 49px;
        height: 49px;
        display: none;
        @include sm(display, block);
      }
    }
    a{
      color: #fff;
      text-decoration: none;
      margin-left: 40px;
      @include sm(margin-left, 10px);
      font-size: 16px;
    }
    .user_Avatar, .lang{
      height: 50px;
      width: 50px;
      border-radius: 200px;
      border: 1px solid #fff;
      box-sizing: border-box;
      margin-left: 20px;
      @include sm(margin, 0 5px);

    }
    .lang{
      height: 55%;
      width: 38px;
      @include sm(width, 30px);
      &:hover{
        ul{
          //display: block;
          height: 150px;
        }
      }
      img{
        height: 100%;
      }
      ul{
        //display: none;
        height: 0;
        overflow: hidden;
        width: 100%;
        transition: all 0.5s linear;
        li{
          width: 100%;
          margin: 13px 0;
          border: 1px solid #fff;
          box-sizing: border-box;
          border-radius: 100px;
          height: 37px;
          @include sm(height, 30px);
          img{
            cursor: pointer;
            //border: 2px solid #fff;
            //box-sizing: border-box;
            width: 100%;
          }
        }
      }
    }
    h3{
      margin-left: auto;
      font-size: 24px;
      @include sm(font-size, 20px)
    }
  }
}
.row{
  @include row-flex();
  justify-content: center;
}
.roww{
  display: flex;
  margin-left: -2.5px;
  margin-right: -2.5px;
  justify-content: center;
  width: 100%;
  @include sm(overflow-x, scroll);
  @include sm(justify-content, flex-start);
  margin-top: 35px;
}
.rowww{
  margin-top: 70px;
}
.firstPageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .row{
    @include sm(margin, 20px 0)
  }
}
.logo{
  @include size(8);
  @include size-sm(14);
  @include sm(margin-top, 20px);
  //margin-top: 225px;
}
.loading{
  background: url("../img/loadIcon.png") no-repeat !important;
  background-size: contain !important;
  animation: rotate 1s infinite linear;
  border: none !important;
  i{
    display: none;
  }
}
.error{
  background: red !important;
  border: 3px solid red !important;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
.langs {
  @include size(6);
  @include size-sm(14);
  @include row-flex();
  justify-content: space-around;
  align-items: center;
  height: 170px;
  @include sm(height, 100px);
  .lang{
    width: 45px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    &.active{
      font-size: 24px;
      img{
        border:3px solid #00aeef;
        border-radius: 25px;
      }
    }
  }
}
.firstPage{
  @include size(8);
  @include size-sm(19);
  @include sm(margin-bottom, 20px);
  display: flex;
  justify-content: space-around;
  button{
    @include size(11);
    //@include size-sm(14);
    height: 45px;
    border-radius: 25px;
    background: #ff8304;
    padding: 0;
    border: none;
    color: rgba(0,0,0,0.5);
    font-size: 18px;
    box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
    &:focus, &:hover{
      outline: none;
      color: #fff;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }
    &:active{
      outline: none;
      color: #fff;
      background: #ff9021;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }
  }
}


.login{
  @include size(10);
  @include size-sm(21);
  background: rgba(250,247,247, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 45px 0 35px 0;
  box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.5);
  .btn_social, .g-signin-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include size(15);
    @include size-sm(18);
    height: 35px;
    color: #fff;
    border-radius: 3px;
    border: none;
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 1px 6px;
    cursor: pointer;
    img{
      height: 27px;
      border-right: 1px solid rgba(0,0,0,0.1);
      margin-right: 10px;
    }
    &.facebook{
      background: #3b5998;
    }
    &.google{
      background: #dc4a38;
    }
  }
  .g-signin-button{
    background: #dc4a38;
  }
  h5{
    font-size: 24px;
    color: #c2c2c2;
    margin-bottom: 10px;
  }
  label{
    @include size(15);
    @include size-sm(18);
    color: #000;
    position: relative;
    &.pointer, &.pointer2{
      cursor: pointer;
      color: #555555;
      font-size: 16px;
      @include sm(text-align, center);
      &:hover .checkbox{
        border: 3px solid #d9d9d9;
      }
      span{
        margin: 30px 0;
        @include sm(margin, 30px 0 0 0);
      }
    }
    &.pointer2 span{
      margin-top: 10px;
    }
    &.radio{
      margin-top: 10px;
      span{
        margin:  0;
      }
    }
    &.bottom{
      margin-top: 35px;
    }
    .razmer{
      font-size: 16px;
      color: #c2c2c2;
      margin: 10px;
      &:nth-child(3)~.check{
        left: calc(70% + 45px);
      }
      &:nth-child(3)+.check{
        left: calc(29.16667% + 40px);
      }
    }
    .check{
      display: inline-block;
      width: 25px;
      height: 25px;
      box-sizing: border-box;
      text-align: center;
      font-size: 14px;
      color: #fff;
      border-radius: 13px;
      border: 3px solid #70cf47;
      background: #70cf47;
      position: absolute;
      top: 30px;
      left: calc(100% + 20px);
      @include sm(left, calc(100% + 5px))
    }
    input[type="text"], input[type="date"], input[type="email"],
    input[type="password"], input[type="tel"], input[type="number"],
    select, option{
      width: 100%;
      height: 35px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 0 15px;
      background: #fffffe;
      border: none;
      border-top: 1px solid #e5e6e5;
      border-radius: 4px;
      color: #555555;
      margin-bottom: 20px;
      margin-top: 7px;
      &:focus, &:hover{
        outline: none;
      }
      &.number{
        @include size(7);
      }
    }
    select{
      /*for WebKit*/
      -webkit-appearance: none;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
      background-image: url('../img/Arrow.png');
      background-position-x: 94%;
      background-position-y: center;
      background-repeat: no-repeat;
      &::-ms-expand {
        display: none;
      }
    }
    input[type="number"]{
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
      }
    }
    input[type="radio"], input[type="checkbox"]{
      display: none;
      &+.checkbox{
        border: 3px solid #d9d9d9;
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: transparent;
        border-radius: 13px;
        margin-right: 15px;
      }
      &:checked+.checkbox{
        border: 3px solid #70cf47;
        text-align: center;
        font-size: 14px;
        color: #70cf47;
      }
    }
    .eye{
      width: 20px;
      height: 11px;
      position: absolute;
      top: 37px;
      right: 10px;
      background: url("../img/eye_grey.png") no-repeat;
      background-size: contain;
      &.active{
        background: url("../img/eye_g.png") no-repeat;
        background-size: contain;
      }
    }
    p{
      color: #c2c2c2;
      font-size: 14px;
      margin-left: -7px;
      text-align: left;
      span{
        color: #6fcf46;
      }
    }
  }
  .firstPage{
    @include size(24);

  }
}
.formBlock{
  margin: 10px;
  @include sm(padding, 15px 0 15px 0);
  @include sm(min-width, calc(83.33333% - 5px));
  .Metrics{
    display: flex;
    @include size(15);
    background: #f3efef;
    color: #555555;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
    @include sm(margin-bottom, 10px);
    margin-top: 25px;
    @include sm(margin-top, 0);
    .btn{
      width: 50%;
      border: 1px solid #a5a2a2;
      box-sizing: border-box;
      padding: 13px 0;
      &.active{
        background: #60b23d;
        color: #fff;
        border: 1px solid #599939;
      }
      &:nth-child(1){
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:nth-child(2){
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

    }
  }
  label {
    input[type="text"], input[type="date"], input[type="email"],
    input[type="password"], input[type="tel"], input[type="number"],
    select, option {

      padding: 0 15px;

      @include sm(margin-bottom, 5px);
      margin-top: 7px;
      &:focus, &:hover {
        outline: none;
      }
      &.number {
        @include size(7);
      }
    }
    &.pointer{
      @include sm(text-align, left);
    }
  }
}
/*.firstPage{
  @include size(24);
  @include sm(display, none);
  &.sm{
    display: none;
    @include sm(display, block);
    @include sm(margin, 30px auto);
    @include sm(text-align, center);
  }
}*/
.fifthPage{
  @include size(8);
  @include size-sm(24);
  margin: 45px 0;
  @include sm( margin, 15px 0)
}
.license{
  @include size(24);
  background: rgba(250,247,247, 0.95);
  min-height: 60vh;
  padding: 40px 0 30px 0;
  @include sm(padding, 15px 0 0px 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #333333;
  border-radius: 15px;
  .ob{
    background: rgba(255,255,255, 0.97);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 0px 20px 15px;
    @include size(22);
  }
  .text{
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 10px;
    h1{
      font-size: 24px;
      @include sm(font-size, 34px);
      color: #000;
    }
    p{
      margin: 20px 0;
      @include sm(font-size, 16px);
    }
    &::-webkit-scrollbar {
      width: 5px;
      background: rgba(196,14,89,0.5);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(196,14,89);
      border-radius: 3px;
      width: 5px;
    }
    scrollbar-base-color: rgb(196,14,89);
    scrollbar-3dlight-color: rgb(196,14,89);
    scrollbar-highlight-color: rgb(196,14,89);
    scrollbar-track-color: #edb6cc;
    scrollbar-arrow-color: #edb6cc;
    scrollbar-shadow-color: rgb(196,14,89);
  }
  .checkb{
    display: flex;
    justify-content: space-between;
    @include size(20);
    font-size: 16px;
    @include sm(font-size, 18px);
    .pointer{
      @include sm(margin, 5px);
      .checkbox {
      border: 3px solid #d9d9d9;
    }
    }
    input[type="checkbox"]{
      display: none;
      &+.checkbox{
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: transparent;
        border-radius: 13px;
        border: 3px solid #d9d9d9;
        margin-right: 15px;
      }
      &:checked+.checkbox{
        border: 3px solid #c40e59;
        text-align: center;
        font-size: 14px;
        color: #c40e59;
      }
    }
  }
  .licensePage{
    @include size(8);
    @include sm(display, none);
    display: flex;
    justify-content: space-around;
    button{
      @include size(11);
      height: 45px;
      border-radius: 25px;
      background: #c40e59;
      padding: 0;
      border: none;
      color: rgba(0,0,0,0.5);
      font-size: 18px;
      box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
      &:focus, &:hover{
        outline: none;
        color: #fff;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
      &:active{
        outline: none;
        color: #fff;
        background: #d90f63;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }

}
.licensePage {
  @include size(24);
  display: flex;
  justify-content: space-around;
  &.sm {
    display: none;
    @include sm(display, block);
    @include sm(margin, 30px auto);
    @include sm(text-align, center);
  }
  button {
    @include size(11);
    height: 45px;
    border-radius: 25px;
    background: #c40e59;
    padding: 0;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.3);
    &:focus, &:hover {
      outline: none;
      color: #fff;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }
    &:active {
      outline: none;
      color: #fff;
      background: #d90f63;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
    }

  }
}
.avatar{
  //@include size(4);
  width: 10vw;
  height: 10vw;
  @include sm(width, 37.5vw);
  @include sm(height, 37.5vw);
  margin-top: 25px;
  @include sm(margin-top, 5px);
  //margin-bottom: 35px;
  margin-bottom: 20px;
  @include sm(margin-bottom, 10px);
  border-radius: 500px;
  .img {
    border-radius: 500px;
    border: 1px solid #fff;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    @include sm(width, 37.5vw);
    @include sm(height, 37.5vw);
  }
}
.left, .right{
  display: flex;
  align-items: center;
  @include size(6);
  .theme{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.851);
    //width: 225px;
    width: 94%;
    //height: 275px;
    color: #555555;
    font-size: 24px;
    text-align: center;
    .img{
      border-radius: 15px;
      width: 90%;
      height: 24vmin;
      margin: 0 auto 10px;
    }
  }
  .right_indicator{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .indicators{
    @include col();

    .title_indicator{
      text-align: center;
    }
  }
}
.center{
  background: url("../img/body.png") top center no-repeat;
  flex-wrap: wrap;
  @include size(12);
  @include col();
  @include row-flex();
  .indicators{
    @include size(8);
    text-align: center;
    @include col();
    margin-top: 55px;

    &:nth-child(2n){
      @include offset-left(8);
    }
    &:nth-child(1), &:nth-child(2){
      margin-top: -40px;
      padding: 0 12px;
      .title_indicator{
        margin-bottom: 17px;
      }
    }
    .title_indicator{
      margin-bottom: 5px;
      .age{
        font-size: 14px;
        line-height: 24px;
      }
      .cvd{
        font-size: 24px;
        line-height: 24px;
      }
    }
    .info_indicator_top{
      .cvd{
        font-size: 24px;
        line-height: 24px;
      }
    }
    .info_indicator{
      margin-top: 15px;
      margin-left: 10px;
      margin-right: -100px;
      text-align: left
    }
    .indicator{
      //@include size(16);
      .mini_indicator{
        @include size(12);
        margin: 0 5px -4px;
      }
      .row_indicator{
        display: flex;
        justify-content: space-around;
        margin-bottom: 6px;
      }
    }
  }
}
.bottom{
  @include size(12);
  .indicators{
    margin: 20px 0;
    .title_indicator{
      margin-left: 35px;
    }
    .indicator{
      text-align: center;
    }
  }
}
.button_share{
  text-align: center;
}
.progress_bar1{
  background: url("../img/indicator_6.png") no-repeat center center;
  background-size: 100%;
  width: 436px;
  height: 40px;
  text-align: left;
  margin: 0 auto;
  .cursor{
    position: relative;
    left: 0;
    margin-left: -7px;
  }
  .percent{
    position: relative;
    left: 0;
    top: -31px;
    font-size: 10px;
  }
  .shkala-1,.shkala-2,.shkala-3{
    position: relative;
    bottom: -10px;
    font-size: 10px;
  }
  .shkala-1{
    left: 15%;
  }
  .shkala-2{
    left: 30%;
  }
  .shkala-3{
    left: 40%;
  }
}
.progress_bar2{
  background: url("../img/indicator_3.png") no-repeat center center;
  background-size: cover;
  width: 72px;
  height: 72px;
  .cursor{
    background: url(../img/cursor_2.png) no-repeat center center;
    position: relative;
    background-size: cover;
    width: 88px;
    height: 88px;
    left: -8px;
    top: -8px;
    transform: rotate(0deg);
  }
  p{
    position: relative;
    top: -68px;
    font-size: 12px;
    &.big{
      font-size: 24px;
      line-height: 20px;
    }
  }
}
.progress_bar3, .progress_bar4{
  background: url("../img/indicator_1.png") no-repeat center center;
  background-size: cover;
  width: 130px;
  height: 130px;
  .cursor{
    background: url(../img/cursor_3.png) no-repeat center center;
    position: relative;
    background-size: cover;
    width: 90px;
    height: 90px;
    left: 20px;
    top: 20px;
    transform: rotate(0deg);
  }
  .text_indicator{
    position: relative;
    top: -90px;
    font-size: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .big{
      font-size: 24px;
      line-height: 24px;
    }
  }
}
.progress_bar4{
  background: url("../img/indicator_2.png") no-repeat center center;
  background-size: cover;
}
.progress_bar5, .progress_bar6{
  width: 72px;
  height: 207px;
  background: url("../img/indicator_5.png") no-repeat center center;
  background-size: cover;
  .opacity{
    background: url("../img/opasity.png") no-repeat top center;
    width: 100%;
    height: 50%;
    background-size: 100%;
  }
  .cursor{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 70px;
    top: -6px;
    align-items: flex-start;
    line-height: 12px;
    img{
      height: 10px;
      margin-top: 2px;
    }
    .big{
      font-size: 16px;
    }
    div{
      margin-left: 5px;
      font-size: 14px;
    }
  }
}
.progress_bar6{
  background: url("../img/indicator_4.png") no-repeat center center;
  background-size: cover;
  .opacity{
    background: url("../img/opasity2.png") no-repeat top center;
    background-size: 100%;
  }
  .sometext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 207px;
    width: 72px;
    align-items: center;
    position: absolute;
    font-size: 12px;
    text-align: center;
    .txt{
      margin: 5px 0;
      line-height: 15px;
    }
    .big{
      font-size: 14px;
    }
  }
}
.themesPageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .content{
    width: 100%;
    background: rgba(250, 247, 247, 0.8);
    @include sm(background, none);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 25px calc(100% /24);
    @include sm(padding, calc(80vw /24) );
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    @include sm(justify-content, flex-start);
    @include sm( border-radius, 15px);
    overflow-x: auto;
    &.col{
      flex-direction: column;
      align-items: center;
      background: rgba(250, 247, 247, 0.8);
      @include size-sm(22);
    }
  }
  .mar{
    padding: 15px 0;
    @include size(16);
    @include sm(min-width, calc(90% - 5px));
    background: rgba(250, 247, 247, 0.8);
    border-radius: 15px;
    max-height: 430px;
    @include sm(max-height, 67vh);
    //@include sm(margin-top, 5vh);
  }
  .progressBarTheme{
    @include size(18);
    @include size-sm(20);
    //@include sm(display, none);
    height: 22px;
    //background: url("../img/topScale.png") no-repeat;
    background-size: 100%;
    border-radius: 12px;
    position: relative;
    text-align: right;
    .white{
      float: right;
      background: #fff;
      width: 100%;
      border-radius: 12px;
      height: 100%;
      position: relative;
      margin-left: -30px;
      transition: all 2s ease;
    }
    .cursor{
      height: 60px;
      position: relative;
      top:-19px;
      left: -30px;
      margin-right: -30px;
      z-index: 1;


    }
  }
  .questionBlock{
    @include size(24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.type1, &.type3{
      .row {
        justify-content: center;
        @include flex-direction-sm(column);
        @include align-items-sm(center);
        width: 100%;
        margin-bottom: 10vh;
        @include sm(margin-bottom, 0);
      }
    }
    &.type2 .row, &.type4 .row{
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      @include sm(margin-bottom, 0);
      @include sm(margin-top, 0);
      margin-top: 35px;
      @include flex-direction-sm(column);
      .imgQ{
        @include size(15);
        @include size-sm(24);
        padding-top: 10px;
        img{
          border-radius: 15px;
        }
      }
      .right{
        @include size(8);
        @include size-sm(24);
        flex-direction: column;
        align-items: flex-start;
        @include align-items-sm(center);
        h1{
          @include size(19);
          @include size-sm(20);
          margin-top: 0;
          text-align: left;
          @include sm(text-align, center);
          margin-bottom: 20px;
          @include sm(margin-bottom, 5px);
        }
        label{
          @include size(21);
          margin: 0;
        }
      }
    }
    &.type3{
      .row{
        justify-content: space-between;
        margin-bottom: 5vh;
        @include flex-direction-sm(row);
      }
      h1{
        @include size(24);
        font-size: 40px;
        @include sm(font-size, 36px);
      }
      .imgAnswer{
        border-radius: 15px;
        @include size(6);
        @include size-sm(12);
        height: 220px;
        @include sm(height, 40vw);
        box-sizing: border-box;
        &.check{
          border: 3px solid #65d53a;
        }
      }
    }
    &.type4 .row{
      @include sm(display, flex);
      @include sm(flex-direction, row);
      @include sm(flex-wrap, nowrap);
      @include sm(overflow, scroll);
      @include sm(justify-content, flex-start);
      @include sm(width, 100%);
      .imgQ{
        @include sm(min-width, 100%);
        @include sm(margin, 0 3px);
        font-size: 36px;
        background: rgba(250, 247, 247, 0.8);
        border-radius: 15px;
        box-sizing: border-box;
        padding: 20px;
        h1{
          @include size(24);
          margin-top: 0;
          margin-bottom: 10px;
        }
      }
      .right{
        @include sm(min-width, 100%);
        @include sm(margin, 0 3px);
        background: rgba(250, 247, 247, 0.8);
        border-radius: 15px;
        box-sizing: border-box;
        padding: 20px;
        @include size(9);
        @include size-sm(24);
        h1{
          font-size: 24px;
          margin-bottom: 45px;
          @include sm(margin-bottom, 5px);
          margin-top: 5px;
        }
        .answer{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: space-between;
          @include size(24);
          .imgAnswer{
            @include size(12);
            height: 140px;
            margin: 7px 0;
            border-radius: 15px;
            box-sizing: border-box;
            &.check{
              border: 3px solid #6dcf4d;
            }
          }
        }
      }
    }
    h1{
      font-size: 36px;
      @include sm(font-size, 30px);
      text-align: center;
      color: #555555;
      @include size(9);
      @include size-sm(24);
      margin-top: 10vh;
      @include sm(margin-top, 0);
      @include sm(margin-bottom, 7%);
      margin-bottom: 40px;
    }
    .select{
      font-size: 18px;
      color: #b8b8b8;
      border-radius: 15px;
      border: 2px solid #e1e1e1;
      overflow-y: scroll;
      background: rgba(255,255,255,0.97);
      height: 120px;
      text-align: center;
      box-sizing: border-box;
      margin: 0 calc(100% / 24);
      @include size(7);
      &::-webkit-scrollbar {
        width: 5px;
        background: rgba(196,14,89,0.5);
        border-radius: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(196,14,89);
        border-radius: 3px;
        width: 5px;
      }
      scrollbar-base-color: rgb(196,14,89);
      scrollbar-3dlight-color: rgb(196,14,89);
      scrollbar-highlight-color: rgb(196,14,89);
      scrollbar-track-color: #edb6cc;
      scrollbar-arrow-color: #edb6cc;
      scrollbar-shadow-color: rgb(196,14,89);
      .option{
        border-bottom: 1px solid #e1e1e1;
        //padding: 10px 0;
        line-height: 38px;
        &.active{
          font-size: 22px;
        }
      }
    }
    label{
      position: relative;
      @include size(6);
      @include size-sm(16);
      margin: 0 calc(100% / 24);
      .check{
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: #fff;
        border-radius: 13px;
        border: 3px solid #70cf47;
        background: #70cf47;
        position: absolute;
        top: 10px;
        left: calc(100% + 10px);
        @include sm(left, calc(100% + 5px));

      }
    }
    select, option, input{
      @include size(24);
      height: 35px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 0 15px;
      background: #fffffe;
      border: none;
      border-top: 1px solid #e5e6e5;
      border-radius: 15px;
      color: #b8b8b8;
      margin-bottom: 20px;
      margin-top: 7px;
      /*for WebKit*/
      -webkit-appearance: none;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
      background-image: url('../img/Arrow.png');
      background-position-x: 94%;
      background-position-y: center;
      background-repeat: no-repeat;
      &::-ms-expand {
        display: none;
      }
      &:focus, &:hover{
        outline: none;
      }
    }
    input{
      background: #fffffe;
    }
  }

  .themes{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 99%;

    padding: 0 15px;
    box-sizing: border-box;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
      background: rgba(109,207,77,0.5);
      border-radius: 3px;
      height: 90%;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(109,207,77);
      border-radius: 3px;
      width: 5px;
      height: 90%;
    }
    scrollbar-base-color: rgb(196,14,89);
    scrollbar-3dlight-color: rgb(196,14,89);
    scrollbar-highlight-color: rgb(196,14,89);
    scrollbar-track-color: #edb6cc;
    scrollbar-arrow-color: #edb6cc;
    scrollbar-shadow-color: rgb(196,14,89);
    .theme{
      @include size(8);
      //@include size-sm(12);
      height: 200px;
      @include sm(height, 32vw);
      @include sm(width, 32vw);
      border-radius: 15px;
      margin-bottom: 10px;
      position: relative;
      background-size: cover;
      cursor: pointer;
      &.active{
        border: 3px solid #6dcf4d;
      }
      &.disable{
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
        cursor: auto;
      }
      .filter{
        display: none;
      }
      &.check{
        .filter{
          display: flex;
          background: rgba(255,215,0,0.6);
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          border-radius: 15px;
          img{
            margin: auto;
            @include sm(width, 44%);
          }
          button{
            position: absolute;
            bottom: 7px;
            @include sm(bottom, 0);
            left: calc(50% - 130px / 2);
            @include sm(left, calc(50% - 100% / 2));
            width: 130px;
            @include sm(width, 100%);
            border-radius: 15px;
            background: #6dcf4d;
            font-size: 14px;
            color: #fff;
            border: none;
            padding: 7px 0;
            @include sm(padding, 3px 0);
            cursor: pointer;
            &:active, &:focus, &:hover{
              outline: none;
            }
          }
        }
      }
    }
  }
  .description{
    background: rgba(250, 247, 247, 0.8);
    border-radius: 15px;
    padding: 20px;
    @include size(7);
    @include md(min-width, calc(90% - 5px));
    @include md(margin, 0 20px);
    color: #555555;
    box-sizing: border-box;
    h1{
      font-size: 24px;
      text-align: center;
    }
    p{
      font-size: 12px;
      margin-top: 15px;
    }
    h4{
      font-size: 14px;
      margin-top: 15px;
    }
  }
  .green{
    background: #6dcf4d;
    @include sm(background, transparent);
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-around;
    button{
      @include size(4);
      @include size-sm(10);
      height: 45px;
      border-radius: 25px;
      margin: 20px;
      @include sm(margin, 20px 0 0 0);
      background: #ff8304;
      padding: 0;
      border: none;
      color: rgba(0,0,0,0.5);
      font-size: 18px;
      box-shadow:0 3px 20px 1px rgba(0, 0, 0, 0.3);
      &:focus, &:hover{
        outline: none;
        color: #fff;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
      &:active{
        outline: none;
        color: #fff;
        background: #ff9021;
        box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.containerMob {
  display: none;
}
@media screen and (max-width: 780px) {
  .containerMob {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    .pos1 {
      position: absolute;
      top: 9vw;
      left: 16vw;
      width: 26vw;
      height: 26vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;
          font-size: 2vw;
        }
        .indicator {
          width: 100%;
          height: 100%;

        }
      }
    }
    .pos2 {
      position: absolute;
      top: 9vw;
      right: 16vw;
      width: 26vw;
      height: 26vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;
          font-size: 2vw;
        }
        .indicator {
          width: 100%;
          height: 100%;

        }
      }
    }
    .pos3 {
      position: absolute;
      top: 45vw;
      left: 37vw;
      width: 26vw;
      height: 26vw;
      .avatar{
        .img{
          height: 100%;
          width: 100%;
        }
      }
    }
    .pos4 {
      position: absolute;
      top: 66vw;
      left: 14vw;
      width: 32vw;
      height: 29vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;
        }
        .indicator {
          width: 100%;
          height: 100%;
          .row_indicator {
            display: flex;
            justify-content: space-around;
          }
        }
      }
      .info_indicator {
        font-size: 2vw;
      }
    }
    .pos5 {
      position: absolute;
      top: 66vw;
      right: 14vw;
      width: 32vw;
      height: 29vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;

        }
        .indicator {
          width: 100%;
          height: 100%;
          .row_indicator {
            display: flex;
            justify-content: space-around;
          }
        }
      }
      .info_indicator_top {
        font-size: 2vw;
        text-align: center;
        .cvd {
          font-size: 4vw;
        }
      }
    }
    .pos6 {
      position: absolute;
      top: 112vw;
      left: 8vw;
      width: 86vw;
      height: 29vw;
      .indicators {
        width: 100%;
        height: 16vw;
        .title_indicator {
          text-align: center;
          font-size: 2vw;
        }
        .indicator {
          width: 100%;
          height: 10vw;
          .row_indicator {
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }
    .pos7 {
      position: absolute;
      top: 35vw;
      left: 3.5vw;
      width: 15vw;
      height: 29vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;
          font-size: 2vw;
        }
        .indicator {
          width: 100%;
          height: 100%;
          .row_indicator {
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }
    .pos8 {
      position: absolute;
      top: 35vw;
      right: 3.5vw;
      width: 15vw;
      height: 29vw;
      .indicators {
        width: 100%;
        height: 100%;
        .title_indicator {
          text-align: center;
          font-size: 2vw;
        }
        .indicator {
          width: 100%;
          height: 100%;
          .row_indicator {
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }

    .progress_bar3 {
      background: url(../img/indicator_1.png) no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      .cursor {
        background: url(../img/cursor_3.png) no-repeat center center;
        position: relative;
        background-size: cover;
        width: 71%;
        height: 71%;
        left: 14.5%;
        top: 14.5%;
        transform: rotate(0deg);
      }
      .text_indicator {
        position: relative;
        top: -71%;
        font-size: 12px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
    .progress_bar4 {
      background: url(../img/indicator_2.png) no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      .cursor {
        background: url(../img/cursor_3.png) no-repeat center center;
        position: relative;
        background-size: cover;
        width: 71%;
        height: 71%;
        left: 14.5%;
        top: 14.5%;
        transform: rotate(0deg);
      }
      .text_indicator {
        position: relative;
        top: -71%;
        font-size: 12px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
    .avatar {
      width: 100%;
      height: 100%;
      margin: 0;
      img {
        border-radius: 500px;
        border: 1px solid #fff;
        width: 100%;
        height: 100%;
      }
    }
    .progress_bar2 {
      background: url("../img/indicator_3.png") no-repeat center center;
      background-size: cover;
      width: 14vw;
      height: 14vw;
      //display: flex;
      //flex-direction: column;
      //justify-content: center;
      position: relative;
      .cursor {
        background: url(../img/cursor_2.png) no-repeat center center;
        position: relative;
        background-size: cover;
        width: 16vw;
        height: 16vw;
        left: -1vw;
        top: -1vw;
        transform: rotate(0deg);
      }
      .text_indicatition {
        //margin: auto;
        position: relative;
        bottom: 12vw;
      }
      p {
        position: relative;
        bottom: unset;
        top: unset;
        //margin: auto;
        font-size: 2vw;
        text-align: center;
        &.big {
          //top: 2vw;
          //bottom: unset;
          font-size: 3.8vw;
          line-height: 20px;
        }
      }
    }
    .progress_bar1 {
      background: url("../img/indicator_6.png") no-repeat center center;
      background-size: 100%;
      width: 86vw;
      height: 8vw;
      text-align: left;
      margin: 0 auto;
      .cursor {
        position: relative;
        left: 0;
        margin-left: -7px;
        height: 8vw;
      }
      .percent {
        position: relative;
        left: 0;
        top: -6vw;
        font-size: 10px;
      }
      .shkala-1, .shkala-2, .shkala-3 {
        position: relative;
        bottom: -10px;
        font-size: 10px;
      }
      .shkala-1 {
        left: 20vw;
        margin-left: calc(-3vw - 20px);
      }
      .shkala-2 {
        left: 38vw;
        margin-left: calc(-3vw - 20px);
      }
      .shkala-3 {
        left: 52vw;
        margin-left: calc(-3vw - 20px);
      }
    }
    .progress_bar5, .progress_bar6 {
      width: 14vw;
      height: 40vw;
      background: url("../img/indicator_5.png") no-repeat center center;
      background-size: cover;
      .opacity {
        background: url("../img/opasity.png") no-repeat top center;
        width: 100%;
        height: 50%;
        background-size: 100%;
      }
      .cursor {
        display: flex;
        justify-content: flex-start;
        position: relative;
        left: 14vw;
        top: -6px;
        align-items: flex-start;
        line-height: 12px;
        img {
          height: 10px;
          margin-top: 2px;
        }
        .big {
          font-size: 16px;
        }
        div {
          margin-left: 5px;
          font-size: 14px;
        }
      }
    }
    .progress_bar6 {
      background: url("../img/indicator_4.png") no-repeat center center;
      background-size: cover;
      .opacity {
        background: url("../img/opasity2.png") no-repeat top center;
        background-size: 100%;
      }
      .cursor {
        display: flex;
        justify-content: flex-start;
        position: relative;
        left: -14vw;
        top: -6px;
        align-items: flex-start;
        line-height: 12px;
        transform: scale(-1, 1);
        img {
          height: 10px;
          margin-top: 2px;
        }
        .big {
          font-size: 16px;
          transform: scale(-1, 1);
        }
        div {
          margin-left: 5px;
          font-size: 14px;
        }
      }
      .sometext {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 14vw;
        height: 40vw;
        align-items: center;
        position: absolute;
        font-size: 1.8vw;
        text-align: center;
        .txt {
          //margin: 5px 0;
          line-height: 3vw;
        }
        .big {
          font-size: 2vw;
        }
      }
    }

  }
}
.pc_sm{
  display: flex;
}
.pc{
  @include sm(display, none);
}
.sm{
  display: none;
  @include sm(display, flex);
  width: 100%;
}
div.p{
  position:fixed;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
  transition: all 1s;
}